# EITI consolidated Summary Data files verification and validation
   
## Purpose
The purpose of this notebook is to verify assumptions that should hold true due to the nature of EITI's data and validate the usefulness of the data for different use-cases or business goals.

## Data
1. Consolidated summary data files of all countries and years divided into individual sheets (datasets).
   - [Part 1 - About](data/consolidated/Part%201%20-%20About.csv)
   - [Part 3 - Reporting companies' list](data/consolidated/Part%203%20-%20Reporting%20companies'%20list.csv)
   - Part 3 - Reporting government entities list
   - Part 3 - Reporting projects' list
   - Part 4 - Government revenues
   - Part 5 - Company data

## Methodology
1. [Import the libraries](#Import-Libraries)
2. [Import/load the data](#Import-the-data)
3. Verify the assumptions
4. Validate use-cases
5. Perform analysis and show simple statistics/visualizations about the data

## Assumptions to verify
1. [**COMPLETENESS AND CORRECTNESS**](#Completeness-and-Correctness)
    1. Cell values are complete and/or correct (i.e. no unexpected or incorrect values)
2. [**UNIQUENESS AND NON-DUPLICATION**](#Uniqueness-and-Non-duplication)
    1. No duplicate company/agency names in the same year and country
    2. No duplicate project names in the same year and country
    3. No duplicate company/agency IDs in the same year and country
    4. No duplicate company-project pair in the same year and country
    5. Unique (single) company ID per year and country    
3. [**CONSISTENCY**](#Consistency)
    1. Consistent company name over time and across the datasets
    2. Consistent company ID over time and across the datasets
    3. Consistent company name-company ID pair over time and across the datasets
    4. Consistent project name over time and across the datasets
    5. Consistent company-project pair over time and across the datasets
    6. Consistent company-company type pair over time and across the datasets
    7. Consistency of country names and ISO codes across the datasets
    8. Consistency of contry name-ISO code pair across the datasets
    9. Consistency of commodities, commodities-project pair, commodities-unit pair

## Use-cases to validate (examples)
1. How has the extractives industry evolved over time in country X? How much is the volume extracted over time? How much revenue is generated?
2. How much taxes are paid by SOEs (SOE = state-owned enterprises company type) for each country? How much is this compared to private companies?
3. What percentage of the market share do SOEs take in each country? Based on volume extracted? Based on revenue? Based on taxes paid?

Add more use-cases. A use case should demonstrate if a reuser, coming with a specific question relevant to a real life need, can answer that question in the data. 

## Statistics and graphs
1. [How many years of data does each company/agency have?](#How-many-years-of-data-does-each-company/agency-have?)
2. [How many (and what companies/agencies) have changed their company type (i.e. from SOE to private and vice versa)?](#How-many-(and-what-companies/agencies)-have-changed-their-company-type-(i.e.-from-SOE-to-private-and-vice-versa)?)
3. [How many (and which) companies/agencies have had their names changed?](How-many-(and-what)-companies/agencies-have-had-their-names-changed?)
4. [How many (and which) companies/agencies have had their IDs changed?](#How-many-(and-which)-companies/agencies-have-had-their-IDs-changed?)
5. [Instances of company/agency names being inputted incorrectly](#Instances-of-company/agency-names-being-inputted-incorrectly)

Show statistics and graphs for the assumptions verified and use-cases validated
Include also:
- comparison among countries (e.g. the most companies, the most consistent data, the most number of issues, etc.)
- comparison among years (e.g. the most companies, the most consistent data, the most number of issues, etc.)
- statistics only for SOE agencies/companies (SOE = state-owned enterprises company type)

### Import Libraries

In [1]:
# import libraries

import pandas as pd
from os import path

### Import the data

In [20]:
file_dir = "data/consolidated/"

# load the csvs into data frames
df_part_1 = pd.read_csv(path.join(file_dir, "Part 1 - About.csv"))
df_part_3a = pd.read_csv(path.join(file_dir, "Part 3 - Reporting companies' list.csv"))
df_part_3b = pd.read_csv(path.join(file_dir, "Part 3 - Reporting government entities list.csv"))
df_part_3c = pd.read_csv(path.join(file_dir, "Part 3 - Reporting projects' list.csv"))
df_part_4 = pd.read_csv(path.join(file_dir, "Part 4 - Government revenues.csv"))
# df_part_5 = pd.read_csv(path.join(file_dir, "Part 5 - Company data.csv")) # results in warning about columns having mixed types
df_part_5 = pd.read_csv(path.join(file_dir, "Part 5 - Company data.csv"), low_memory=False)

df_list = [df_part_1, df_part_3a, df_part_3b, df_part_3c, df_part_4, df_part_5]
df_dict = {"Part 1 - About.csv": df_part_1,
           "Part 3 - Reporting companies' list.csv": df_part_3a,
           "Part 3 - Reporting government entities list.csv": df_part_3b,
           "Part 3 - Reporting projects' list.csv": df_part_3c,
           "Part 4 - Government revenues.csv": df_part_4,
           "Part 5 - Company data.csv": df_part_5
          }

In [3]:
# Checking mixed type columns
mixed_type_columns = df_part_5.map(type).nunique() > 1

# Print or display the columns with mixed types
print("Columns with mixed types:")
print(mixed_type_columns[mixed_type_columns].index.tolist())

Columns with mixed types:
['Company', 'Government entity', 'Revenue stream name', 'Levied on project (Y/N)', 'Reported by project (Y/N)', 'Project name', 'Reporting currency', 'Revenue value', 'Payment made in-kind (Y/N)', 'In-kind volume (if applicable)', 'Unit (if applicable)', 'Comments', 'Country', 'ISO Code', 'Year', 'Start Date', 'End Date']

## Assumptions to verify

### Completeness and Correctness

It is assumed that the data received are complet and correct. In this section, we check for any unexpected or unexpected values in the tables such as instances of 'no data', 'NULL', or 'NaN'.

#### Expectations
- the data is complete

#### Assumptions
- there are no 'no data', 'NULL', or 'NaN' values in the dataframes

#### Results

In [4]:
# Functions to find and count NULL and #ERROR! values

def columns_with_null(df):
    return df.columns[df.isnull().any()]

def count_null_per_column(df):
    return df.isnull().sum()    

def columns_with_error(df):
    return df.columns[df.eq('#ERROR!').any()]

def count_error_per_column(df):
    return df.apply(lambda col: (col == '#ERROR!').sum())

def columns_with_empty_strings(df):
    return df.columns[df.eq('').any()]

def count_empty_strings_per_column(df):
    return df.apply(lambda col: (col == '').sum())

def columns_with_only_space(df):
    return df.columns[df.map(lambda cell: isinstance(cell, str) and cell.isspace()).any()]

def count_only_space_per_column(df):
    return df.map(lambda cell: str(cell).isspace()).sum()

**The results below show that there are columns in the data that has NULL**

In [5]:
for tab in df_dict:
    print("Columns with NULL values for {}:".format(tab))
    for column in columns_with_null(df_dict[tab]):
        print("- {}".format(column))
        
    print("\nNumber of columns with NULL: {}/{}".format(len(columns_with_null(df_dict[tab])), df_dict[tab].shape[1]))
    print("\nNumber of NULL per column:")
    print(count_null_per_column(df_dict[tab]))
    print("\nTotal number of rows/observations: {}".format(df_dict[tab].shape[0]))
    print("\n------\n")

Columns with NULL values for Part 1 - About.csv:
- ISO Alpha-3 Code
- National currency name
- National currency ISO-4217
- Start Date
- End Date
- Has an EITI Report been prepared by an Independent Administrator?
- What is the name of the company?
- Date that the EITI Report was made public
- URL, EITI Report
- Does the government systematically disclose EITI data at a single location?
- Publication date of the EITI data
- Website link (URL) to EITI data
- Are there other files of relevance?
- Date that other file was made public
- URL
- Does the government have an open data policy?
- Open data portal / files
- Oil
- Gas
- Mining (incl. Quarrying)
- Other, non-upstream sectors
- If yes, please specify name (insert new rows if multiple)
- Number of reporting government entities (incl SOEs if recipient)
- Number of reporting companies (incl SOEs if payer)
- Reporting currency (ISO-4217 currency codes)
- Exchange rate used: 1 USD =
- Exchange rate source (URL,…)
- … by revenue stream
- … by government agency
- … by company
- … by project
- Systematically disclosed
- Through EITI Reporting
- Not applicable
- Not available
- Name
- Organisation
- Email address

Number of columns with NULL: 38/39

Number of NULL per column:
Country or area name                                                            0
ISO Alpha-3 Code                                                                6
National currency name                                                          6
National currency ISO-4217                                                      6
Start Date                                                                      1
End Date                                                                        1
Has an EITI Report been prepared by an Independent Administrator?               6
What is the name of the company?                                                6
Date that the EITI Report was made public                                       7
URL, EITI Report                                                               11
Does the government systematically disclose EITI data at a single location?     1
Publication date of the EITI data                                              36
Website link (URL) to EITI data                                                32
Are there other files of relevance?                                             2
Date that other file was made public                                           50
URL                                                                            42
Does the government have an open data policy?                                   4
Open data portal / files                                                       14
Oil                                                                             3
Gas                                                                             2
Mining (incl. Quarrying)                                                        1
Other, non-upstream sectors                                                     1
If yes, please specify name (insert new rows if multiple)                      36
Number of reporting government entities (incl SOEs if recipient)                4
Number of reporting companies (incl SOEs if payer)                              1
Reporting currency (ISO-4217 currency codes)                                    1
Exchange rate used: 1 USD =                                                     1
Exchange rate source (URL,…)                                                    7
… by revenue stream                                                             1
… by government agency                                                          1
… by company                                                                    1
… by project                                                                    1
Systematically disclosed                                                        1
Through EITI Reporting                                                          1
Not applicable                                                                  1
Not available                                                                   1
Name                                                                            4
Organisation                                                                    3
Email address                                                                   3
dtype: int64

Total number of rows/observations: 75

------

Columns with NULL values for Part 3 - Reporting companies' list.csv:
- Company type
- Company ID number
- Commodities (comma-seperated)
- Stock exchange listing or company website
- Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)
- Payments to Governments Report

Number of columns with NULL: 6/13

Number of NULL per column:
Full company name                                                                                      0
Company type                                                                                         355
Company ID number                                                                                    187
Sector                                                                                                 0
Commodities (comma-seperated)                                                                        461
Stock exchange listing or company website                                                           2019
Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)    2196
Payments to Governments Report                                                                       260
Country                                                                                                0
ISO Code                                                                                               0
Year                                                                                                   0
Start Date                                                                                             0
End Date                                                                                               0
dtype: int64

Total number of rows/observations: 3834

------

Columns with NULL values for Part 3 - Reporting government entities list.csv:
- Agency type
- ID number (if applicable)
- Total reported
- Year

Number of columns with NULL: 4/9

Number of NULL per column:
Full name of agency            0
Agency type                    1
ID number (if applicable)    337
Total reported                73
Country                        0
ISO Code                       0
Year                           9
Start Date                     0
End Date                       0
dtype: int64

Total number of rows/observations: 549

------

Columns with NULL values for Part 3 - Reporting projects' list.csv:
- Full project name
- Legal agreement reference number(s): contract, licence, lease, concession, …
- Affiliated companies, start with Operator
- Commodities (one commodity/row)
- Status
- Production (volume)
- Unit
- Production (value)
- Currency
- Country
- ISO Code
- Year
- Start Date
- End Date

Number of columns with NULL: 14/14

Number of NULL per column:
Full project name                                                                 23
Legal agreement reference number(s): contract, licence, lease, concession, …     257
Affiliated companies, start with Operator                                        169
Commodities (one commodity/row)                                                  414
Status                                                                           421
Production (volume)                                                             1785
Unit                                                                            3408
Production (value)                                                              5473
Currency                                                                        4594
Country                                                                           21
ISO Code                                                                          21
Year                                                                              21
Start Date                                                                        21
End Date                                                                          21
dtype: int64

Total number of rows/observations: 6280

------

Columns with NULL values for Part 4 - Government revenues.csv:
- Sector
- Revenue stream name
- Government entity
- Revenue value
- Currency

Number of columns with NULL: 5/11

Number of NULL per column:
GFS Classification       0
Sector                  28
Revenue stream name      2
Government entity        2
Revenue value          324
Currency                 2
Country                  0
ISO Code                 0
Year                     0
Start Date               0
End Date                 0
dtype: int64

Total number of rows/observations: 2307

------

Columns with NULL values for Part 5 - Company data.csv:
- Company
- Government entity
- Revenue stream name
- Levied on project (Y/N)
- Reported by project (Y/N)
- Project name
- Reporting currency
- Revenue value
- Payment made in-kind (Y/N)
- In-kind volume (if applicable)
- Unit (if applicable)
- Comments
- Country
- ISO Code
- Year
- Start Date
- End Date

Number of columns with NULL: 17/17

Number of NULL per column:
Company                              31
Government entity                    37
Revenue stream name                  38
Levied on project (Y/N)             206
Reported by project (Y/N)           188
Project name                      21037
Reporting currency                   34
Revenue value                      6452
Payment made in-kind (Y/N)         7045
In-kind volume (if applicable)    19520
Unit (if applicable)              21684
Comments                          28784
Country                              74
ISO Code                             74
Year                                103
Start Date                           74
End Date                             74
dtype: int64

Total number of rows/observations: 33051

------

**The results below show that there are columns in the data that has '#ERROR!'**

In [6]:
for tab in df_dict:
    print("Columns with '#ERROR!' values for {}:".format(tab))
    for column in columns_with_error(df_dict[tab]):
        print("- {}".format(column))
        
    print("\nNumber of columns with '#ERROR!': {}/{}".format(len(columns_with_error(df_dict[tab])), df_dict[tab].shape[1]))
    print("\nNumber of '#ERROR!' per column:")
    print(count_error_per_column(df_dict[tab]))
    print("\nTotal number of rows/observations: {}".format(df_dict[tab].shape[0]))
    print("\n------\n")

Columns with '#ERROR!' values for Part 1 - About.csv:
- ISO Alpha-3 Code
- National currency name
- National currency ISO-4217

Number of columns with '#ERROR!': 3/39

Number of '#ERROR!' per column:
Country or area name                                                            0
ISO Alpha-3 Code                                                               20
National currency name                                                         20
National currency ISO-4217                                                     19
Start Date                                                                      0
End Date                                                                        0
Has an EITI Report been prepared by an Independent Administrator?               0
What is the name of the company?                                                0
Date that the EITI Report was made public                                       0
URL, EITI Report                                                                0
Does the government systematically disclose EITI data at a single location?     0
Publication date of the EITI data                                               0
Website link (URL) to EITI data                                                 0
Are there other files of relevance?                                             0
Date that other file was made public                                            0
URL                                                                             0
Does the government have an open data policy?                                   0
Open data portal / files                                                        0
Oil                                                                             0
Gas                                                                             0
Mining (incl. Quarrying)                                                        0
Other, non-upstream sectors                                                     0
If yes, please specify name (insert new rows if multiple)                       0
Number of reporting government entities (incl SOEs if recipient)                0
Number of reporting companies (incl SOEs if payer)                              0
Reporting currency (ISO-4217 currency codes)                                    0
Exchange rate used: 1 USD =                                                     0
Exchange rate source (URL,…)                                                    0
… by revenue stream                                                             0
… by government agency                                                          0
… by company                                                                    0
… by project                                                                    0
Systematically disclosed                                                        0
Through EITI Reporting                                                          0
Not applicable                                                                  0
Not available                                                                   0
Name                                                                            0
Organisation                                                                    0
Email address                                                                   0
dtype: int64

Total number of rows/observations: 75

------

Columns with '#ERROR!' values for Part 3 - Reporting companies' list.csv:
- Payments to Governments Report

Number of columns with '#ERROR!': 1/13

Number of '#ERROR!' per column:
Full company name                                                                                     0
Company type                                                                                          0
Company ID number                                                                                     0
Sector                                                                                                0
Commodities (comma-seperated)                                                                         0
Stock exchange listing or company website                                                             0
Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)      0
Payments to Governments Report                                                                      993
Country                                                                                               0
ISO Code                                                                                              0
Year                                                                                                  0
Start Date                                                                                            0
End Date                                                                                              0
dtype: int64

Total number of rows/observations: 3834

------

Columns with '#ERROR!' values for Part 3 - Reporting government entities list.csv:
- Total reported

Number of columns with '#ERROR!': 1/9

Number of '#ERROR!' per column:
Full name of agency            0
Agency type                    0
ID number (if applicable)      0
Total reported               137
Country                        0
ISO Code                       0
Year                           0
Start Date                     0
End Date                       0
dtype: int64

Total number of rows/observations: 549

------

Columns with '#ERROR!' values for Part 3 - Reporting projects' list.csv:
- Production (value)

Number of columns with '#ERROR!': 1/14

Number of '#ERROR!' per column:
Full project name                                                                 0
Legal agreement reference number(s): contract, licence, lease, concession, …      0
Affiliated companies, start with Operator                                         0
Commodities (one commodity/row)                                                   0
Status                                                                            0
Production (volume)                                                               0
Unit                                                                              0
Production (value)                                                              117
Currency                                                                          0
Country                                                                           0
ISO Code                                                                          0
Year                                                                              0
Start Date                                                                        0
End Date                                                                          0
dtype: int64

Total number of rows/observations: 6280

------

Columns with '#ERROR!' values for Part 4 - Government revenues.csv:

Number of columns with '#ERROR!': 0/11

Number of '#ERROR!' per column:
GFS Classification     0
Sector                 0
Revenue stream name    0
Government entity      0
Revenue value          0
Currency               0
Country                0
ISO Code               0
Year                   0
Start Date             0
End Date               0
dtype: int64

Total number of rows/observations: 2307

------

Columns with '#ERROR!' values for Part 5 - Company data.csv:
- Comments

Number of columns with '#ERROR!': 1/17

Number of '#ERROR!' per column:
Company                            0
Government entity                  0
Revenue stream name                0
Levied on project (Y/N)            0
Reported by project (Y/N)          0
Project name                       0
Reporting currency                 0
Revenue value                      0
Payment made in-kind (Y/N)         0
In-kind volume (if applicable)     0
Unit (if applicable)               0
Comments                          44
Country                            0
ISO Code                           0
Year                               0
Start Date                         0
End Date                           0
dtype: int64

Total number of rows/observations: 33051

------

**The results below show that there are columns in the data that has empty strings ('')**

In [7]:
for tab in df_dict:
    print("Columns with '' values for {}:".format(tab))
    for column in columns_with_empty_strings(df_dict[tab]):
        print("- {}".format(column))
        
    print("\nNumber of columns with '': {}/{}".format(len(columns_with_empty_strings(df_dict[tab])), df_dict[tab].shape[1]))
    print("\nNumber of '' per column:")
    print(count_empty_strings_per_column(df_dict[tab]))
    print("\nTotal number of rows/observations: {}".format(df_dict[tab].shape[0]))
    print("\n------\n")

Columns with '' values for Part 1 - About.csv:

Number of columns with '': 0/39

Number of '' per column:
Country or area name                                                           0
ISO Alpha-3 Code                                                               0
National currency name                                                         0
National currency ISO-4217                                                     0
Start Date                                                                     0
End Date                                                                       0
Has an EITI Report been prepared by an Independent Administrator?              0
What is the name of the company?                                               0
Date that the EITI Report was made public                                      0
URL, EITI Report                                                               0
Does the government systematically disclose EITI data at a single location?    0
Publication date of the EITI data                                              0
Website link (URL) to EITI data                                                0
Are there other files of relevance?                                            0
Date that other file was made public                                           0
URL                                                                            0
Does the government have an open data policy?                                  0
Open data portal / files                                                       0
Oil                                                                            0
Gas                                                                            0
Mining (incl. Quarrying)                                                       0
Other, non-upstream sectors                                                    0
If yes, please specify name (insert new rows if multiple)                      0
Number of reporting government entities (incl SOEs if recipient)               0
Number of reporting companies (incl SOEs if payer)                             0
Reporting currency (ISO-4217 currency codes)                                   0
Exchange rate used: 1 USD =                                                    0
Exchange rate source (URL,…)                                                   0
… by revenue stream                                                            0
… by government agency                                                         0
… by company                                                                   0
… by project                                                                   0
Systematically disclosed                                                       0
Through EITI Reporting                                                         0
Not applicable                                                                 0
Not available                                                                  0
Name                                                                           0
Organisation                                                                   0
Email address                                                                  0
dtype: int64

Total number of rows/observations: 75

------

Columns with '' values for Part 3 - Reporting companies' list.csv:

Number of columns with '': 0/13

Number of '' per column:
Full company name                                                                                   0
Company type                                                                                        0
Company ID number                                                                                   0
Sector                                                                                              0
Commodities (comma-seperated)                                                                       0
Stock exchange listing or company website                                                           0
Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)    0
Payments to Governments Report                                                                      0
Country                                                                                             0
ISO Code                                                                                            0
Year                                                                                                0
Start Date                                                                                          0
End Date                                                                                            0
dtype: int64

Total number of rows/observations: 3834

------

Columns with '' values for Part 3 - Reporting government entities list.csv:

Number of columns with '': 0/9

Number of '' per column:
Full name of agency          0
Agency type                  0
ID number (if applicable)    0
Total reported               0
Country                      0
ISO Code                     0
Year                         0
Start Date                   0
End Date                     0
dtype: int64

Total number of rows/observations: 549

------

Columns with '' values for Part 3 - Reporting projects' list.csv:

Number of columns with '': 0/14

Number of '' per column:
Full project name                                                               0
Legal agreement reference number(s): contract, licence, lease, concession, …    0
Affiliated companies, start with Operator                                       0
Commodities (one commodity/row)                                                 0
Status                                                                          0
Production (volume)                                                             0
Unit                                                                            0
Production (value)                                                              0
Currency                                                                        0
Country                                                                         0
ISO Code                                                                        0
Year                                                                            0
Start Date                                                                      0
End Date                                                                        0
dtype: int64

Total number of rows/observations: 6280

------

Columns with '' values for Part 4 - Government revenues.csv:

Number of columns with '': 0/11

Number of '' per column:
GFS Classification     0
Sector                 0
Revenue stream name    0
Government entity      0
Revenue value          0
Currency               0
Country                0
ISO Code               0
Year                   0
Start Date             0
End Date               0
dtype: int64

Total number of rows/observations: 2307

------

Columns with '' values for Part 5 - Company data.csv:

Number of columns with '': 0/17

Number of '' per column:
Company                           0
Government entity                 0
Revenue stream name               0
Levied on project (Y/N)           0
Reported by project (Y/N)         0
Project name                      0
Reporting currency                0
Revenue value                     0
Payment made in-kind (Y/N)        0
In-kind volume (if applicable)    0
Unit (if applicable)              0
Comments                          0
Country                           0
ISO Code                          0
Year                              0
Start Date                        0
End Date                          0
dtype: int64

Total number of rows/observations: 33051

------

**The results below show that there are columns in the data that are only white spaces**

In [8]:
for tab in df_dict:
    print("Columns with only white spaces for {}:".format(tab))
    for column in columns_with_only_space(df_dict[tab]):
        print("- {}".format(column))
        
    print("\nNumber of columns with '': {}/{}".format(len(columns_with_only_space(df_dict[tab])), df_dict[tab].shape[1]))
    print("\nNumber of '' per column:")
    print(count_only_space_per_column(df_dict[tab]))
    print("\nTotal number of rows/observations: {}".format(df_dict[tab].shape[0]))
    print("\n------\n")

Columns with only white spaces for Part 1 - About.csv:

Number of columns with '': 0/39

Number of '' per column:
Country or area name                                                           0
ISO Alpha-3 Code                                                               0
National currency name                                                         0
National currency ISO-4217                                                     0
Start Date                                                                     0
End Date                                                                       0
Has an EITI Report been prepared by an Independent Administrator?              0
What is the name of the company?                                               0
Date that the EITI Report was made public                                      0
URL, EITI Report                                                               0
Does the government systematically disclose EITI data at a single location?    0
Publication date of the EITI data                                              0
Website link (URL) to EITI data                                                0
Are there other files of relevance?                                            0
Date that other file was made public                                           0
URL                                                                            0
Does the government have an open data policy?                                  0
Open data portal / files                                                       0
Oil                                                                            0
Gas                                                                            0
Mining (incl. Quarrying)                                                       0
Other, non-upstream sectors                                                    0
If yes, please specify name (insert new rows if multiple)                      0
Number of reporting government entities (incl SOEs if recipient)               0
Number of reporting companies (incl SOEs if payer)                             0
Reporting currency (ISO-4217 currency codes)                                   0
Exchange rate used: 1 USD =                                                    0
Exchange rate source (URL,…)                                                   0
… by revenue stream                                                            0
… by government agency                                                         0
… by company                                                                   0
… by project                                                                   0
Systematically disclosed                                                       0
Through EITI Reporting                                                         0
Not applicable                                                                 0
Not available                                                                  0
Name                                                                           0
Organisation                                                                   0
Email address                                                                  0
dtype: int64

Total number of rows/observations: 75

------

Columns with only white spaces for Part 3 - Reporting companies' list.csv:

Number of columns with '': 0/13

Number of '' per column:
Full company name                                                                                   0
Company type                                                                                        0
Company ID number                                                                                   0
Sector                                                                                              0
Commodities (comma-seperated)                                                                       0
Stock exchange listing or company website                                                           0
Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)    0
Payments to Governments Report                                                                      0
Country                                                                                             0
ISO Code                                                                                            0
Year                                                                                                0
Start Date                                                                                          0
End Date                                                                                            0
dtype: int64

Total number of rows/observations: 3834

------

Columns with only white spaces for Part 3 - Reporting government entities list.csv:

Number of columns with '': 0/9

Number of '' per column:
Full name of agency          0
Agency type                  0
ID number (if applicable)    0
Total reported               0
Country                      0
ISO Code                     0
Year                         0
Start Date                   0
End Date                     0
dtype: int64

Total number of rows/observations: 549

------

Columns with only white spaces for Part 3 - Reporting projects' list.csv:

Number of columns with '': 0/14

Number of '' per column:
Full project name                                                               0
Legal agreement reference number(s): contract, licence, lease, concession, …    0
Affiliated companies, start with Operator                                       0
Commodities (one commodity/row)                                                 0
Status                                                                          0
Production (volume)                                                             0
Unit                                                                            0
Production (value)                                                              0
Currency                                                                        0
Country                                                                         0
ISO Code                                                                        0
Year                                                                            0
Start Date                                                                      0
End Date                                                                        0
dtype: int64

Total number of rows/observations: 6280

------

Columns with only white spaces for Part 4 - Government revenues.csv:

Number of columns with '': 0/11

Number of '' per column:
GFS Classification     0
Sector                 0
Revenue stream name    0
Government entity      0
Revenue value          0
Currency               0
Country                0
ISO Code               0
Year                   0
Start Date             0
End Date               0
dtype: int64

Total number of rows/observations: 2307

------

Columns with only white spaces for Part 5 - Company data.csv:

Number of columns with '': 0/17

Number of '' per column:
Company                           0
Government entity                 0
Revenue stream name               0
Levied on project (Y/N)           0
Reported by project (Y/N)         0
Project name                      0
Reporting currency                0
Revenue value                     0
Payment made in-kind (Y/N)        0
In-kind volume (if applicable)    0
Unit (if applicable)              0
Comments                          0
Country                           0
ISO Code                          0
Year                              0
Start Date                        0
End Date                          0
dtype: int64

Total number of rows/observations: 33051

------

### Uniqueness and Non-duplication

### No duplicate company/agency names in the same year and country

#### Expectations
- A company or agency name will appear only once per year per country

#### Assumptions
- The company or agency is only reported once per year regardless of sector/commodity

#### Results

In [44]:
# def get_duplicate_names(df, field):
#     return df[df.duplicated([field, 'Country', 'Year'], keep=False)].sort_values(by=[field])

def get_duplicates(df, field_to_check, *constraint_fields):
    return df[df.duplicated([field_to_check, *constraint_fields], keep=False)].sort_values(by=[field_to_check])

In [46]:
get_duplicates(df_part_3a, 'Full company name', *['Country', 'Year'])

,Full company name,Company type,Company ID number,Sector,Commodities (comma-seperated),Stock exchange listing or company website,"Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)",Payments to Governments Report,Country,ISO Code,Year,Start Date,End Date
1549,Al Waha Petroleum Co. Ltd.,Private,NaN,Oil & Gas,"Oil, Gas, Condensates",https://www.petroalwaha.com/,NaN,"628,712,909.00",Iraq,IRQ,2018,1/1/2018,12/31/2018
1585,Al Waha Petroleum Co. Ltd.,Private,NaN,Oil & Gas,"Oil, Gas, Condensates",NaN,NaN,"628,712,909.00",Iraq,IRQ,2018,1/1/2018,12/31/2018
1552,CNOOC IRAQ LIMITED,Private,NaN,Oil & Gas,"Oil, Gas, Condensates",https://cnoocinternational.com/operations/midd...,NaN,"1,098,601,809.00",Iraq,IRQ,2018,1/1/2018,12/31/2018
1586,CNOOC IRAQ LIMITED,Private,NaN,Oil & Gas,"Oil, Gas, Condensates",NaN,NaN,"1,098,601,809.00",Iraq,IRQ,2018,1/1/2018,12/31/2018
1564,PT PERTAMINA IRAK,Private,NaN,Oil & Gas,"Oil, Gas, Condensates",NaN,NaN,"990,135,616.00",Iraq,IRQ,2018,1/1/2018,12/31/2018
1588,PT PERTAMINA IRAK,Private,NaN,Oil & Gas,"Oil, Gas, Condensates",NaN,NaN,"990,135,616.00",Iraq,IRQ,2018,1/1/2018,12/31/2018
497,Rio Tuba Nickel Mining Corporation,Private,000-142-665-000,Mining,Nickel,nickelasia.com/subsidiaries/rio-tuba-nickel-mi...,nickelasia.com/investor-relations/financial-re...,"864,690,546.00",Philippines,PHL,2018,2018-01-01,2018-12-31
519,Rio Tuba Nickel Mining Corporation,Private,000-142-665-000,Mining,Limestone,nickelasia.com/subsidiaries/rio-tuba-nickel-mi...,nickelasia.com/investor-relations/financial-re...,NaN,Philippines,PHL,2018,2018-01-01,2018-12-31
173,شرکت برادران خالد عزیز,Private,1019984010,Other,Coal,Not applicable,Not available,#ERROR!,Afghanistan,AFG,2018,2017-12-21,2018-12-20
174,شرکت برادران خالد عزیز,Private,1019984010,Other,Coal,Not applicable,Not available,#ERROR!,Afghanistan,AFG,2018,2017-12-21,2018-12-20

#### Implications
- There are duplicate listings of companies in the same year in Iraq and Afghanistan
- The duplicate listing in the Philippines may be attributed to the difference in commodities

In [47]:
get_duplicates(df_part_3b, 'Full name of agency', *['Country', 'Year'])

,Full name of agency,Agency type,ID number (if applicable),Total reported,Country,ISO Code,Year,Start Date,End Date
238,Mpohor Wassa East,Local government,NaN,#ERROR!,Ghana,GHA,2019.0,2019-01-01,2019-12-31
252,Mpohor Wassa East,Local government,NaN,NaN,Ghana,GHA,2019.0,2019-01-01,2019-12-31
247,Obuasi Municipal Assembly,Local government,NaN,#ERROR!,Ghana,GHA,2019.0,2019-01-01,2019-12-31
259,Obuasi Municipal Assembly,Local government,NaN,NaN,Ghana,GHA,2019.0,2019-01-01,2019-12-31

#### Implications
- There are duplicate listings of agencies for Ghana in 2019

### No duplicate project names in the same year and country

#### Expectations
- A project name will appear only once per year per country.

#### Assumptions
- A project is only reported once per year and country and commodity

#### Results

In [52]:
duplicate_projects = get_duplicates(df_part_3c, 
                                    'Full project name', 
                                    *['Country', 'Year', 'Commodities (one commodity/row)'])

duplicate_projects

,Full project name,"Legal agreement reference number(s): contract, licence, lease, concession, …","Affiliated companies, start with Operator",Commodities (one commodity/row),Status,Production (volume),Unit,Production (value),Currency,Country,ISO Code,Year,Start Date,End Date
1239,0,NaN,MCCM,Not applicable,Not applicable,NaN,Not applicable,Not applicable,Not applicable,Mongolia,MNG,2020,1/1/2020,12/31/2020
1109,0,NaN,Bayan erdes,Not applicable,Not applicable,NaN,Not applicable,Not applicable,Not applicable,Mongolia,MNG,2020,1/1/2020,12/31/2020
1168,0,NaN,Mon lid trade,Not applicable,Not applicable,NaN,Not applicable,Not applicable,Not applicable,Mongolia,MNG,2020,1/1/2020,12/31/2020
1185,0,NaN,STBL,Not applicable,Not applicable,NaN,Not applicable,Not applicable,Not applicable,Mongolia,MNG,2020,1/1/2020,12/31/2020
1196,0,NaN,Terguun service,Not applicable,Not applicable,NaN,Not applicable,Not applicable,Not applicable,Mongolia,MNG,2020,1/1/2020,12/31/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
duplicate_project_names = duplicate_projects['Full project name'].unique()

print("Number of duplicate project names: {}\n".format(len(duplicate_project_names.tolist())))

duplicate_project_counts = duplicate_projects['Full project name'].value_counts()
# print(duplicate_project_counts)

print("Number of duplicates per project")
for name, count in duplicate_project_counts.items():
    if count > 1:
        duplicates = duplicate_projects[duplicate_projects['Full project name'] == name]
        print(f"Name: {name}, Count: {count}")

Number of duplicate project names: 198

Number of duplicates per project
Name: NO OPERATOR, Count: 83
Name: Landesamt für Bergbau, Energie und Geologie (LBEG) Hannover, Lower Saxony, Count: 23
Name: TOTALENERGIES E&P UK LIMITED (00811900), Count: 20
Name: SHELL U.K. LIMITED (00140141), Count: 20
Name: REPSOL SINOPEC RESOURCES UK LIMITED (00825828), Count: 18
Name: Not applicable, Count: 17
Name: Full project name, Count: 16
Name: EQUINOR UK LIMITED (01285743), Count: 15
Name: ISLAND GAS LIMITED (04962079), Count: 13
Name: PERENCO UK LIMITED (04653066), Count: 12
Name: TAQA BRATANI LIMITED (05975475), Count: 11
Name: Non Applicable, Count: 11
Name: Area 526, 666,666 tpa, Culver Extension, Count: 10
Name: BP EXPLORATION OPERATING COMPANY LIMITED (00305943), Count: 9
Name: EGDON RESOURCES U.K. LIMITED (03424561), Count: 9
Name: ENQUEST HEATHER LIMITED (02748866), Count: 9
Name: Landesamt für Geologie und Bergbau, Mainz-Hechtsheim, Rhineland Palatinate, Count: 8
Name: PL-5/126 (Ntronang 2), Count: 8
Name: PL-5/126 (Ntronang 1), Count: 8
Name: Regierung von Oberbayern, Bergamt Südbayern, München, Bavaria, Count: 8
Name: 0, Count: 8
Name: PREMIER OIL UK LIMITED (SC048705), Count: 7
Name: APACHE BERYL I LIMITED (FC005975), Count: 7
Name: SSML-Kabu 13/2012, Count: 6
Name: SPIRIT ENERGY NORTH SEA LIMITED (04594558), Count: 6
Name: DANA PETROLEUM (E&P) LIMITED (02294746), Count: 6
Name: Landesamt für Bergbau, Energie und Geologie (LBEG) Hannover für Finanzverwaltung Schleswig Holstein, Schleswig Holstein, Count: 6
Name: CNOOC PETROLEUM EUROPE LIMITED (01051137), Count: 5
Name: Crown Farm & Delamere Quarries, Count: 5
Name: THIRD ENERGY UK GAS LIMITED (01421481), Count: 5
Name: Area 498, 175,000 tpa, North Inner Gabbard, Count: 5
Name: Area 460, 1,000,000 tpa, South Hastings, Count: 5
Name: Area 430, 300,000 tpa, Southwold East, Count: 5
Name: SPIRIT ENERGY RESOURCES LIMITED (02855151), Count: 5
Name: SOUTH WESTERN ENERGY LIMITED (08019159), Count: 5
Name: SERICA ENERGY (UK) LIMITED (04073712), Count: 5
Name: Subsoil use special permit No. 1074, dated 23.09.1997, Count: 4
Name: Subsoil use special permit No. 1277, dated 26.03.1998, Count: 4
Name: CHRYSAOR PETROLEUM COMPANY U.K. LIMITED (00792712), Count: 4
Name: CHRYSAOR PRODUCTION (U.K.) LIMITED (00524868), Count: 4
Name: CNR INTERNATIONAL (U.K.) LIMITED (00813187), Count: 4
Name: SSML-Kabu 19/2016, Count: 4
Name: ENI UK LIMITED (00862823), Count: 4
Name: Subsoil use special permit No. 5247, dated 16.12.2010, Count: 4
Name: SSML-Kabu 2/2008, Count: 4
Name: Subsoil use special permit No. 3348, dated 20.07.2004, Count: 4
Name: SSML-Kabu 42/2014, Count: 4
Name: IGAS ENERGY PRODUCTION LIMITED (SC298739), Count: 4
Name: IOG NORTH SEA LIMITED (07632999), Count: 4
Name: Subsoil use special permit No. 2139, dated 21.02.2000, Count: 4
Name: ITHACA ENERGY (UK) LIMITED (SC272009), Count: 4
Name: Stainton Quarry, Count: 4
Name: Subsoil use special permit No. 2088, dated 24.12.1999, Count: 4
Name: SSML-Kabu 10/2016, Count: 4
Name: NEPTUNE E&P UK LIMITED (01483021), Count: 4
Name: Subsoil use special permit No. 1859, dated 26.04.1999, Count: 4
Name: Subsoil use special permit No. 1773, dated 16.03.1999, Count: 4
Name: Subsoil use special permit No. 1669, dated 17.11.1998, Count: 4
Name: Pant y Pwll Dwr Quarry, Count: 4
Name: Subsoil use special permit No. 1563, dated 31.08.1998, Count: 4
Name: Subsoil use special permit No. 2032, dated 11.11.1999, Count: 4
Name: EXPL 3/2012, Count: 4
Name: Area 340, 500,000 tpa, Nab, Count: 4
Name: Area 501, 3,000,000 tpa (mix), North Falls East, Count: 4
Name: Area 509/1-3, 750,000 tpa, Longsand, Count: 4
Name: Area 478, 1,000,000 tpa, Area 1 South, Count: 4
Name: Area 515, 2,250,000 tpa (mix), Outer Dowsing, Count: 4
Name: ALPHA PETROLEUM RESOURCES LIMITED (03949599), Count: 4
Name: Area 506, 800,000 tpa, Humber 4 & 7, Count: 4
Name: AURORA ENERGY RESOURCES LIMITED (SC335749), Count: 4
Name: Area 481, 375,000 tpa, Inner Dowsing, Count: 4
Name: ALKANE ENERGY UK LIMITED (03128509), Count: 4
Name: Area 483, 600,000 tpa, Humber 5, Count: 4
Name: Area 484, 600,000 tpa, Humber 3, Count: 4
Name: Area 493, 300,000 tpa, Humber Overfalls, Count: 4
Name: Area 476, 500,000 tpa (mix) (Nobel Banks), Count: 4
Name: Area 481, 250,000 tpa (mix), Inner Dowsing, Count: 3
Name: ITHACA OIL AND GAS LIMITED (01546623), Count: 3
Name: Area 197, 300,000 tpa, Protector Overfalls, Count: 3
Name: Area 473, 666,667 tpa, Greenwich Light East, Count: 3
Name: Area 228, 1,500,000 tpa (mix), Off Great Yarmouth, Count: 3
Name: Area 240, 1,500,000 tpa, Cross Sands, Count: 3
Name: Area 242/361, 325,000 tpa, Lowestoft, Count: 3
Name: INEOS UK SNS LIMITED (01021338), Count: 3
Name: Area 473, 1,000,000 tpa, Greenwich Light East, Count: 3
Name: Area 254, 500,000 tpa, Off Great Yarmouth, Count: 3
Name: PARKMEAD (E&P) LIMITED (SC397002), Count: 3
Name: REPSOL SINOPEC NORTH SEA LIMITED (01061863), Count: 3
Name: Rio Tinto- QIT MADAGASCAR MINERALS S.A, Count: 3
Name: Area 457, 1,200,000 tpa (mix), Liverpool Bay, Count: 3
Name: Area 458/464, 1,000,000 tpa, West Bassurelle, Count: 3
Name: SHATV-29/184, Count: 3
Name: Area 458/464, 2,000,000 tpa, West Bassurelle, Count: 3
Name: PERENCO GAS (UK) LIMITED (00715529), Count: 3
Name: Area 460, 500,000 tpa, South Hastings, Count: 3
Name: Area 137, 1,000,000 tpa, Area A, Count: 3
Name: Non précisé, Count: 3
Name: SOROUBAT-BF, Count: 3
Name: Area 461, 1,000,000 tpa, Median Deep, Count: 3
Name: Area 395/1-2, 500,000 tpa, Off Selsey Bill, Count: 3
Name: Area 351, 750,000 tpa (mix), SE Isle of Wight, Count: 3
Name: NEO ENERGY PRODUCTION UK LIMITED (12086835), Count: 3
Name: Area 351, 500,000 tpa, SE Isle of Wight, Count: 3
Name: IGAS ENERGY DEVELOPMENT LIMITED (07240286), Count: 3
Name: Area 407, 1,000,000 tpa, St Catherine's, Count: 3
Name: ANGUS ENERGY WEALD BASIN NO.3 LIMITED (SC055329), Count: 3
Name: Bayangol, Count: 3
Name: CNHA4.OGARRIO/2018, Count: 3
Name: Area 512, 650,000 tpa, ex 251/454, Count: 3
Name: CHRYSAOR RESOURCES (IRISH SEA) LIMITED (03440053), Count: 3
Name: Area 513, 650,000 tpa, Lowestoft, Count: 3
Name: Area 508, 750,000 tpa (mix), Longsand, Count: 3
Name: Area 514/1-4, 1,500,000 tpa, Humber, Count: 3
Name: CHRYSAOR NORTH SEA LIMITED (00958880), Count: 3
Name: CNH-R02-L02- A10.CS/2017, Count: 3
Name: CNH-R02-L03-CS01/2017, Count: 3
Name: Area 494, 500,000 tpa, North Cross Sands, Count: 3
Name: EUROPA OIL & GAS LIMITED (03093716), Count: 3
Name: Baruun noyon uul, Count: 3
Name: Area 106/400, 1,500,000 tpa, North Dowsing, Count: 3
Name: Area 127, 200,000 tpa, SW Needles, Count: 3
Name: WINTERSHALL NOORDZEE B.V. (FC027567), Count: 3
Name: SGN Fields, Count: 2
Name: VICTOR, Count: 2
Name: Area 396/488, 500,000 tpa, Inner Owers, Count: 2
Name: Rio Tinto - QIT MADAGASCAR MINERALS S.A., Count: 2
Name: Area 395/1-2, 750,000 tpa (Off Selsey Bill), Count: 2
Name: TOTALENERGIES E&P NORTH SEA UK LIMITED (03682299), Count: 2
Name: ALKANE ENERGY UK LIMITED (03128509), EGDON RESOURCES U.K. LIMITED (03424561), Count: 2
Name: TEN Fields, Count: 2
Name: Area 401/2, 900,000 tpa, Yarmouth, Count: 2
Name: SPIRIT ENERGY PRODUCTION UK LIMITED (03115179), Count: 2
Name: Subsoil use special permit No. 5395, dated 14.10.2011, Count: 2
Name: Southgobi province gurvantes soum, Zangat soum, stone coal mine, Count: 2
Name: Area 1601 - England, 75,000 tpa, Wales, Count: 2
Name: Ambatovy - AMBATOVY MINERALS S.A., Count: 2
Name: Ambatovy - AMBATOVY MINERALS S.A, Count: 2
Name: Area 1602 - Wales, 75,000 tpa, England, Count: 2
Name: Stowe Hill Cert/Surf Rnt & Roy, Count: 2
Name: Altan tsagaan ovoo, Count: 2
Name: Subsoil use special permit No. 3685, dated 12.09.2005, Count: 2
Name: ANASURIA HIBISCUS UK LIMITED (09696268), Count: 2
Name: Subsoil use special permit No. 3686, dated 12.09.2005, Count: 2
Name: Subsoil use special permit No. 3687, dated 12.09.2005, Count: 2
Name: Subsoil use special permit No. 4062, dated 21.10.2011, Count: 2
Name: Subsoil use special permit No. 4063, dated 31.10.2011, Count: 2
Name: Subsoil use special permit No. 1643, dated 12.11.1998, Count: 2
Name: Subsoil use special permit No. 4294, dated 29.12.2012, Count: 2
Name: Subsoil use special permit No. 1439, dated 22.06.1998, Count: 2
Name: BANDIA, Count: 2
Name: Piper, Count: 2
Name: CNHA3.CÁRDENASMORA/2018, Count: 2
Name: FMC K, Count: 2
Name: 2025257, Count: 2
Name: ENTERPRISE OIL LIMITED (01682048), Count: 2
Name: Area 500/1-4, 850,000 tpa, South Wight, Count: 2
Name: EGDON RESOURCES U.K. LIMITED (03424561), REGENT PARK ENERGY LIMITED (04557422), Count: 2
Name: Dioungoko, Count: 2
Name: DIACK, Count: 2
Name: Claymore, Count: 2
Name: Area 511, 650,000 tpa, Lowestoft, Count: 2
Name: CNH-R02-L04-APCS-G02/2018, Count: 2
Name: Feasibility study for open pit mining and heap leaching of oxidized gold and silver deposits, Count: 2
Name: CNH-R02-L03-VC02/2017, Count: 2
Name: CNH-R02-L02- A5.BG/2017, Count: 2
Name: CNH-R02-L02- A4.BG/2017, Count: 2
Name: CNH-M5- MIQUETLA/2018, Count: 2
Name: CIRQUE ENERGY (UK) LIMITED (03080778), Count: 2
Name: CI-526, Count: 2
Name: Boulby Offshore Mine, Count: 2
Name: Bloc Ta29, Count: 2
Name: Bandia, Count: 2
Name: Falconbridge Dominicana, S.A., Count: 2
Name: Fulmar, Count: 2
Name: Area 435, 900,000 tpa (mix), Inner Owers, Count: 2
Name: MPSA No. 111-98-VII
(Amended I), Count: 2
Name: Area 451, 1,250,000 tpa (mix), St Catherine's, Count: 2
Name: PREMIER OIL E&P UK LIMITED (02761032), Count: 2
Name: PETROGAS NORTH SEA LIMITED (05470844), Count: 2
Name: ONE-DYAS UK LIMITED (03531783), Count: 2
Name: Non applicable, Count: 2
Name: Nalaikh mine's eastern wing, usage of mud mining, Count: 2
Name: Area 470/1-2, 125,000 tpa, N. Bristol Deep, Count: 2
Name: Miller, Count: 2
Name: MV-000296, Count: 2
Name: Libjo Laterite Mining Project, Count: 2
Name: HORSE HILL DEVELOPMENTS LTD (08808553), Count: 2
Name: LOKELE, Count: 2
Name: Khuren Gol, Count: 2
Name: KOLE, Count: 2
Name: Jubilee Fields, Count: 2
Name: JERSEY PETROLEUM LTD (06490608), Count: 2
Name: Island Quarry and Aggregates Corporation, Count: 2
Name: ITHACA SP E&P LIMITED (01504603), Count: 2
Name: IGAS ENERGY ENTERPRISE LIMITED (05457589), Count: 2
Name: HURRICANE ENERGY PLC (05245689), Count: 2
Name: Wharf, Rvr Usk nr Caldicot Level, Count: 2

#### Implications
- There is a significant number of duplicate project names across many of the countries.
- There is a need to check/count the number of duplicates per country to see if this should be expected

In [90]:
# pd.set_option('display.max_rows', None)

project_counts_per_country = duplicate_projects.groupby('Country')['Full project name'].value_counts()

duplicates_per_country = project_counts_per_country[project_counts_per_country > 1]

print("Number of duplicate project names per country:")
print(duplicates_per_country)

# pd.reset_option('display.max_rows')

Number of duplicate project names per country:
Country         Full project name
Afghanistan     SSML-Kabu 13/2012                                                                 6
                SSML-Kabu 42/2014                                                                 4
                SSML-Kabu 2/2008                                                                  4
                SSML-Kabu 19/2016                                                                 4
                SSML-Kabu 10/2016                                                                 4
                                                                                                 ..
United Kingdom  EGDON RESOURCES U.K. LIMITED (03424561), REGENT PARK ENERGY LIMITED (04557422)    2
                Boulby Offshore Mine                                                              2
                Claymore                                                                          2
                CIRQUE ENERGY (UK) LIMITED (03080778)                                             2
                Wharf, Rvr Usk nr Caldicot Level                                                  2
Name: count, Length: 197, dtype: int64

In [93]:
df_part_3c[df_part_3c['Full project name'] == 'CIRQUE ENERGY (UK) LIMITED (03080778)']

,Full project name,"Legal agreement reference number(s): contract, licence, lease, concession, …","Affiliated companies, start with Operator",Commodities (one commodity/row),Status,Production (volume),Unit,Production (value),Currency,Country,ISO Code,Year,Start Date,End Date
6001,CIRQUE ENERGY (UK) LIMITED (03080778),PEDL324,"CIRQUE ENERGY (UK) LIMITED (03080778), STELINM...",Not available,Not applicable,Not applicable,NaN,NaN,GBP,United Kingdom,GBR,2021,2021-01-01,2021-12-31
6008,CIRQUE ENERGY (UK) LIMITED (03080778),PEDL348,"CIRQUE ENERGY (UK) LIMITED (03080778), STELINM...",Not available,Not applicable,Not applicable,NaN,NaN,GBP,United Kingdom,GBR,2021,2021-01-01,2021-12-31

### No duplicate project names in the same year and country

#### Expectations
- A company ID will appear only once per year per country.

#### Assumptions
- 1 company ID = 1 company in a country

#### Results

In [94]:
duplicate_ids = get_duplicates(df_part_3a, 
                                    'Company ID number', 
                                    *['Country', 'Year'])

duplicate_ids

,Full company name,Company type,Company ID number,Sector,Commodities (comma-seperated),Stock exchange listing or company website,"Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)",Payments to Governments Report,Country,ISO Code,Year,Start Date,End Date
519,Rio Tuba Nickel Mining Corporation,Private,000-142-665-000,Mining,Limestone,nickelasia.com/subsidiaries/rio-tuba-nickel-mi...,nickelasia.com/investor-relations/financial-re...,NaN,Philippines,PHL,2018,2018-01-01,2018-12-31
497,Rio Tuba Nickel Mining Corporation,Private,000-142-665-000,Mining,Nickel,nickelasia.com/subsidiaries/rio-tuba-nickel-mi...,nickelasia.com/investor-relations/financial-re...,"864,690,546.00",Philippines,PHL,2018,2018-01-01,2018-12-31
878,HOUNDE GOLD OPERATION SA,Private,00064526S,Mining,Or,Indisponible,NaN,"39,636,048,842.00",Burkina Faso,BFA,2019,1/1/2019,12/31/2019
877,HOUNDE EXPLORATION BF SARL,Private,00064526S,Mining,Or,https://www.endeavourmining.com/our-portfolio/...,NaN,"7,879,789.00",Burkina Faso,BFA,2019,1/1/2019,12/31/2019
872,HOUNDE EXPLORATION BF SARL,Private,00064526S,Mining,Gold,https://www.endeavourmining.com/our-portfolio/...,NaN,"13,130,988.00",Burkina Faso,BFA,2018,1/1/2018,12/31/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,GX Technology,NaN,NaN,Oil & Gas,NaN,NaN,NaN,NaN,Seychelles,SYC,2018,2018-01-01,2018-12-31
3217,JOGMEX,NaN,NaN,Oil & Gas,NaN,NaN,NaN,NaN,Seychelles,SYC,2018,2018-01-01,2018-12-31
3242,GRAYSON BANDA,Private,NaN,Mining,Gold,Not available,Not available,"3,126,118,498.00",Tanzania,TZA,2018,2017-07-01,2018-06-30
3256,TANZANIA PORTLAND CEMENT PUBLIC LIMITED COMPANY,Private,NaN,Mining,"Limeston, Sandstone",Not available,Not available,"24,750,760,174.02",Tanzania,TZA,2018,2017-07-01,2018-06-30
3258,State Mining Corporation (STAMICO),State-owned enterprises & public corporations,NaN,Mining,Gold,http://www.stamico.co.tz/,Not available,"1,357,092.00",Tanzania,TZA,2018,2017-07-01,2018-06-30

In [95]:
duplicate_id_names = duplicate_ids['Company ID number'].unique()

print("Number of duplicate IDs: {}\n".format(len(duplicate_id_names.tolist())))

duplicate_id_counts = duplicate_ids['Company ID number'].value_counts()
# print(duplicate_project_counts)

print("Number of duplicate IDS")
for id, count in duplicate_id_counts.items():
    if count > 1:
        duplicates = duplicate_ids[duplicate_ids['Company ID number'] == id]
        print(f"Name: {id}, Count: {count}")

Number of duplicate IDs: 36

Number of duplicate IDS
Name: Not applicable, Count: 81
Name: Not available, Count: 40
Name: NC, Count: 37
Name: Not communicated, Count: 19
Name: Not Available, Count: 8
Name: 1013655012, Count: 5
Name: 983426417, Count: 5
Name: 1009592088, Count: 4
Name: 1010360087, Count: 4
Name: 1016525014, Count: 4
Name: 9001044669, Count: 4
Name: 2700773, Count: 4
Name: 9001204305, Count: 4
Name: 1007815085, Count: 4
Name: 9000197187, Count: 4
Name: 00064526S, Count: 4
Name: 1008627083, Count: 3
Name: 931713671, Count: 2
Name: 000-142-665-000, Count: 2
Name: Nc, Count: 2
Name: 9003329902, Count: 2
Name: RC321517, Count: 2
Name: 919160675, Count: 2
Name: 9000647140, Count: 2
Name: 9002301225, Count: 2
Name: 9001505461, Count: 2
Name: 9001353375, Count: 2
Name: 9000036856, Count: 2
Name: 761,1998-1999, Count: 2
Name: 1384,1998-1999, Count: 2
Name: 108744308, Count: 2
Name: 1044142014, Count: 2
Name: 103947189, Count: 2
Name: 1019984010, Count: 2
Name: RC322270, Count: 2

#### Implications
- There is a significant number of duplicate company ID values
- Most are due to the information not being available or not existing in the dataset

### Consistency

## Use-cases to validate

## Statistics and graphs

### How many years of data does each company/agency have?

### How many (and what companies/agencies) have changed their company type (i.e. from SOE to private and vice versa)?

### How many (and what) companies/agencies have had their names changed?

### How many (and which) companies/agencies have had their IDs changed?

### Instances of company/agency names being inputted incorrectly