# EITI consolidated Summary Data files verification and validation
   
## Purpose
The purpose of this notebook is to verify assumptions that should hold true due to the nature of EITI's data and validate the usefulness of the data for different use-cases or business goals.

## Data
1. Consolidated summary data files of all countries and years divided into individual sheets (datasets).
   - [Part 1 - About](data/consolidated/Part%201%20-%20About.csv)
   - [Part 3 - Reporting companies' list](data/consolidated/Part%203%20-%20Reporting%20companies'%20list.csv)
   - Part 3 - Reporting government entities list
   - Part 3 - Reporting projects' list
   - Part 4 - Government revenues
   - Part 5 - Company data

## Methodology
1. [Import the libraries](#Import-Libraries)
2. [Import/load the data](#Import-the-data)
3. Verify the assumptions
4. Validate use-cases
5. Perform analysis and show simple statistics/visualizations about the data

## Assumptions to verify
1. [**COMPLETENESS AND CORRECTNESS**](#Completeness-and-Correctness)
    1. [Cell values are complete and/or correct (i.e. no unexpected or incorrect values)](#No-duplicate-company/agency-names-in-the-same-year-and-country)
2. [**UNIQUENESS AND NON-DUPLICATION**](#Uniqueness-and-Non-duplication)
    1. [No duplicate company/agency names in the same year and country](#No-duplicate-company/agency-names-in-the-same-year-and-country)
    2. [No duplicate project names in the same year and country](#No-duplicate-project-names-in-the-same-year-and-country)
    3. [No duplicate company/agency IDs in the same year and country](#No-duplicate-company-ids-in-the-same-year-and-country)
    4. [No duplicate company-project pair in the same year and country](#No-duplicate-company-project-pair-in-the-same-year-and-country)
3. [**CONSISTENCY**](#Consistency)
    1. [All companies or agencies in company data (Part 5) exist in the Reporting companies' agencies (Part 3a) and Reporting government entities list (Part 3b)](#All-companies-or-agencies-in-company-data-(Part-5)-exist-in-the-Reporting-companies'-agencies-(Part-3a)-and-Reporting-government-entities-list-(Part-3b))
    2. Consistent company name-company ID pair over time
    3. Consistent project name over time and across the datasets
    4. Consistent company-project pair over time and across the datasets
    5. Consistent company-company type pair over time and across the datasets
    6. Consistency of country names and ISO codes across the datasets
    7. Consistency of contry name-ISO code pair across the datasets
    8. Consistency of commodities, commodities-project pair, commodities-unit pair

## Use-cases to validate (examples)
1. How has the extractives industry evolved over time in country X? How much is the volume extracted over time? How much revenue is generated?
2. How much taxes are paid by SOEs (SOE = state-owned enterprises company type) for each country? How much is this compared to private companies?
3. What percentage of the market share do SOEs take in each country? Based on volume extracted? Based on revenue? Based on taxes paid?

Add more use-cases. A use case should demonstrate if a reuser, coming with a specific question relevant to a real life need, can answer that question in the data. 

## Statistics and graphs
1. [How many years of data does each company/agency have?](#How-many-years-of-data-does-each-company/agency-have?)
2. [How many (and what companies/agencies) have changed their company type (i.e. from SOE to private and vice versa)?](#How-many-(and-what-companies/agencies)-have-changed-their-company-type-(i.e.-from-SOE-to-private-and-vice-versa)?)
3. [How many (and which) companies/agencies have had their names changed?](How-many-(and-what)-companies/agencies-have-had-their-names-changed?)
4. [How many (and which) companies/agencies have had their IDs changed?](#How-many-(and-which)-companies/agencies-have-had-their-IDs-changed?)
5. [Instances of company/agency names being inputted incorrectly](#Instances-of-company/agency-names-being-inputted-incorrectly)

Show statistics and graphs for the assumptions verified and use-cases validated
Include also:
- comparison among countries (e.g. the most companies, the most consistent data, the most number of issues, etc.)
- comparison among years (e.g. the most companies, the most consistent data, the most number of issues, etc.)
- statistics only for SOE agencies/companies (SOE = state-owned enterprises company type)

### Import Libraries

In [1]:
# import libraries

import pandas as pd
from os import path

### Import the data

In [2]:
file_dir = "data/consolidated/"

# load the csvs into data frames
df_part_1 = pd.read_csv(path.join(file_dir, "Part 1 - About.csv"))
df_part_3a = pd.read_csv(path.join(file_dir, "Part 3 - Reporting companies' list.csv"))
df_part_3b = pd.read_csv(path.join(file_dir, "Part 3 - Reporting government entities list.csv"))
df_part_3c = pd.read_csv(path.join(file_dir, "Part 3 - Reporting projects' list.csv"))
df_part_4 = pd.read_csv(path.join(file_dir, "Part 4 - Government revenues.csv"))
# df_part_5 = pd.read_csv(path.join(file_dir, "Part 5 - Company data.csv")) # results in warning about columns having mixed types
df_part_5 = pd.read_csv(path.join(file_dir, "Part 5 - Company data.csv"), low_memory=False)

df_list = [df_part_1, df_part_3a, df_part_3b, df_part_3c, df_part_4, df_part_5]
df_dict = {"Part 1 - About.csv": df_part_1,
           "Part 3 - Reporting companies' list.csv": df_part_3a,
           "Part 3 - Reporting government entities list.csv": df_part_3b,
           "Part 3 - Reporting projects' list.csv": df_part_3c,
           "Part 4 - Government revenues.csv": df_part_4,
           "Part 5 - Company data.csv": df_part_5
          }

In [3]:
# Checking mixed type columns
mixed_type_columns = df_part_5.map(type).nunique() > 1

# Print or display the columns with mixed types
print("Columns with mixed types:")
print(mixed_type_columns[mixed_type_columns].index.tolist())

Columns with mixed types:
['Company', 'Government entity', 'Revenue stream name', 'Levied on project (Y/N)', 'Reported by project (Y/N)', 'Project name', 'Reporting currency', 'Revenue value', 'Payment made in-kind (Y/N)', 'In-kind volume (if applicable)', 'Unit (if applicable)', 'Comments', 'Country', 'ISO Code', 'Year', 'Start Date', 'End Date']

## Assumptions to verify

### Completeness and Correctness

It is assumed that the data received are complete and correct. In this section, we check for any unexpected or unexpected values in the tables such as instances of 'no data', 'NULL', or 'NaN'.

#### Expectations
- We expect that the data is complete and correct.
- There are no 'no data', 'NULL', or 'NaN' values in the dataframes
  
#### Assumptions
- The dataset is assumed to have undergone rigorous data validation checks to identify and address any missing or erroneous values.
- Data entry procedures have been consistently followed, minimizing the likelihood of unexpected or incorrect values.
- Cell values are expected to fall within valid and meaningful ranges.

#### Results

In [4]:
# Functions to find and count NULL and #ERROR! values

def columns_with_null(df):
    return df.columns[df.isnull().any()]

def count_null_per_column(df):
    return df.isnull().sum()    

def columns_with_error(df):
    return df.columns[df.eq('#ERROR!').any()]

def count_error_per_column(df):
    return df.apply(lambda col: (col == '#ERROR!').sum())

def columns_with_empty_strings(df):
    return df.columns[df.eq('').any()]

def count_empty_strings_per_column(df):
    return df.apply(lambda col: (col == '').sum())

def columns_with_only_space(df):
    return df.columns[df.map(lambda cell: isinstance(cell, str) and cell.isspace()).any()]

def count_only_space_per_column(df):
    return df.map(lambda cell: str(cell).isspace()).sum()

**The results below show that there are columns in the data that has NULL**

In [5]:
for tab in df_dict:
    print("Columns with NULL values for {}:".format(tab))
    for column in columns_with_null(df_dict[tab]):
        print("- {}".format(column))
        
    print("\nNumber of columns with NULL: {}/{}".format(len(columns_with_null(df_dict[tab])), df_dict[tab].shape[1]))
    print("\nNumber of NULL per column:")
    print(count_null_per_column(df_dict[tab]))
    print("\nTotal number of rows/observations: {}".format(df_dict[tab].shape[0]))
    print("\n------\n")

Columns with NULL values for Part 1 - About.csv:
- ISO Alpha-3 Code
- National currency name
- National currency ISO-4217
- Start Date
- End Date
- Has an EITI Report been prepared by an Independent Administrator?
- What is the name of the company?
- Date that the EITI Report was made public
- URL, EITI Report
- Does the government systematically disclose EITI data at a single location?
- Publication date of the EITI data
- Website link (URL) to EITI data
- Are there other files of relevance?
- Date that other file was made public
- URL
- Does the government have an open data policy?
- Open data portal / files
- Oil
- Gas
- Mining (incl. Quarrying)
- Other, non-upstream sectors
- If yes, please specify name (insert new rows if multiple)
- Number of reporting government entities (incl SOEs if recipient)
- Number of reporting companies (incl SOEs if payer)
- Reporting currency (ISO-4217 currency codes)
- Exchange rate used: 1 USD =
- Exchange rate source (URL,…)
- … by revenue stream
- … by government agency
- … by company
- … by project
- Systematically disclosed
- Through EITI Reporting
- Not applicable
- Not available
- Name
- Organisation
- Email address

Number of columns with NULL: 38/39

Number of NULL per column:
Country or area name                                                            0
ISO Alpha-3 Code                                                                6
National currency name                                                          6
National currency ISO-4217                                                      6
Start Date                                                                      1
End Date                                                                        1
Has an EITI Report been prepared by an Independent Administrator?               6
What is the name of the company?                                                6
Date that the EITI Report was made public                                       7
URL, EITI Report                                                               11
Does the government systematically disclose EITI data at a single location?     1
Publication date of the EITI data                                              36
Website link (URL) to EITI data                                                32
Are there other files of relevance?                                             2
Date that other file was made public                                           50
URL                                                                            42
Does the government have an open data policy?                                   4
Open data portal / files                                                       14
Oil                                                                             3
Gas                                                                             2
Mining (incl. Quarrying)                                                        1
Other, non-upstream sectors                                                     1
If yes, please specify name (insert new rows if multiple)                      36
Number of reporting government entities (incl SOEs if recipient)                4
Number of reporting companies (incl SOEs if payer)                              1
Reporting currency (ISO-4217 currency codes)                                    1
Exchange rate used: 1 USD =                                                     1
Exchange rate source (URL,…)                                                    7
… by revenue stream                                                             1
… by government agency                                                          1
… by company                                                                    1
… by project                                                                    1
Systematically disclosed                                                        1
Through EITI Reporting                                                          1
Not applicable                                                                  1
Not available                                                                   1
Name                                                                            4
Organisation                                                                    3
Email address                                                                   3
dtype: int64

Total number of rows/observations: 75

------

Columns with NULL values for Part 3 - Reporting companies' list.csv:
- Company type
- Company ID number
- Commodities (comma-seperated)
- Stock exchange listing or company website
- Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)
- Payments to Governments Report

Number of columns with NULL: 6/13

Number of NULL per column:
Full company name                                                                                      0
Company type                                                                                         355
Company ID number                                                                                    187
Sector                                                                                                 0
Commodities (comma-seperated)                                                                        461
Stock exchange listing or company website                                                           2019
Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)    2196
Payments to Governments Report                                                                       260
Country                                                                                                0
ISO Code                                                                                               0
Year                                                                                                   0
Start Date                                                                                             0
End Date                                                                                               0
dtype: int64

Total number of rows/observations: 3834

------

Columns with NULL values for Part 3 - Reporting government entities list.csv:
- Agency type
- ID number (if applicable)
- Total reported
- Year

Number of columns with NULL: 4/9

Number of NULL per column:
Full name of agency            0
Agency type                    1
ID number (if applicable)    337
Total reported                73
Country                        0
ISO Code                       0
Year                           9
Start Date                     0
End Date                       0
dtype: int64

Total number of rows/observations: 549

------

Columns with NULL values for Part 3 - Reporting projects' list.csv:
- Full project name
- Legal agreement reference number(s): contract, licence, lease, concession, …
- Affiliated companies, start with Operator
- Commodities (one commodity/row)
- Status
- Production (volume)
- Unit
- Production (value)
- Currency
- Country
- ISO Code
- Year
- Start Date
- End Date

Number of columns with NULL: 14/14

Number of NULL per column:
Full project name                                                                 23
Legal agreement reference number(s): contract, licence, lease, concession, …     257
Affiliated companies, start with Operator                                        169
Commodities (one commodity/row)                                                  414
Status                                                                           421
Production (volume)                                                             1785
Unit                                                                            3408
Production (value)                                                              5473
Currency                                                                        4594
Country                                                                           21
ISO Code                                                                          21
Year                                                                              21
Start Date                                                                        21
End Date                                                                          21
dtype: int64

Total number of rows/observations: 6280

------

Columns with NULL values for Part 4 - Government revenues.csv:
- Sector
- Revenue stream name
- Government entity
- Revenue value
- Currency

Number of columns with NULL: 5/11

Number of NULL per column:
GFS Classification       0
Sector                  28
Revenue stream name      2
Government entity        2
Revenue value          324
Currency                 2
Country                  0
ISO Code                 0
Year                     0
Start Date               0
End Date                 0
dtype: int64

Total number of rows/observations: 2307

------

Columns with NULL values for Part 5 - Company data.csv:
- Company
- Government entity
- Revenue stream name
- Levied on project (Y/N)
- Reported by project (Y/N)
- Project name
- Reporting currency
- Revenue value
- Payment made in-kind (Y/N)
- In-kind volume (if applicable)
- Unit (if applicable)
- Comments
- Country
- ISO Code
- Year
- Start Date
- End Date

Number of columns with NULL: 17/17

Number of NULL per column:
Company                              31
Government entity                    37
Revenue stream name                  38
Levied on project (Y/N)             206
Reported by project (Y/N)           188
Project name                      21037
Reporting currency                   34
Revenue value                      6452
Payment made in-kind (Y/N)         7045
In-kind volume (if applicable)    19520
Unit (if applicable)              21684
Comments                          28784
Country                              74
ISO Code                             74
Year                                103
Start Date                           74
End Date                             74
dtype: int64

Total number of rows/observations: 33051

------

**The results below show that there are columns in the data that has '#ERROR!'**

In [6]:
for tab in df_dict:
    print("Columns with '#ERROR!' values for {}:".format(tab))
    for column in columns_with_error(df_dict[tab]):
        print("- {}".format(column))
        
    print("\nNumber of columns with '#ERROR!': {}/{}".format(len(columns_with_error(df_dict[tab])), df_dict[tab].shape[1]))
    print("\nNumber of '#ERROR!' per column:")
    print(count_error_per_column(df_dict[tab]))
    print("\nTotal number of rows/observations: {}".format(df_dict[tab].shape[0]))
    print("\n------\n")

Columns with '#ERROR!' values for Part 1 - About.csv:
- ISO Alpha-3 Code
- National currency name
- National currency ISO-4217

Number of columns with '#ERROR!': 3/39

Number of '#ERROR!' per column:
Country or area name                                                            0
ISO Alpha-3 Code                                                               20
National currency name                                                         20
National currency ISO-4217                                                     19
Start Date                                                                      0
End Date                                                                        0
Has an EITI Report been prepared by an Independent Administrator?               0
What is the name of the company?                                                0
Date that the EITI Report was made public                                       0
URL, EITI Report                                                                0
Does the government systematically disclose EITI data at a single location?     0
Publication date of the EITI data                                               0
Website link (URL) to EITI data                                                 0
Are there other files of relevance?                                             0
Date that other file was made public                                            0
URL                                                                             0
Does the government have an open data policy?                                   0
Open data portal / files                                                        0
Oil                                                                             0
Gas                                                                             0
Mining (incl. Quarrying)                                                        0
Other, non-upstream sectors                                                     0
If yes, please specify name (insert new rows if multiple)                       0
Number of reporting government entities (incl SOEs if recipient)                0
Number of reporting companies (incl SOEs if payer)                              0
Reporting currency (ISO-4217 currency codes)                                    0
Exchange rate used: 1 USD =                                                     0
Exchange rate source (URL,…)                                                    0
… by revenue stream                                                             0
… by government agency                                                          0
… by company                                                                    0
… by project                                                                    0
Systematically disclosed                                                        0
Through EITI Reporting                                                          0
Not applicable                                                                  0
Not available                                                                   0
Name                                                                            0
Organisation                                                                    0
Email address                                                                   0
dtype: int64

Total number of rows/observations: 75

------

Columns with '#ERROR!' values for Part 3 - Reporting companies' list.csv:
- Payments to Governments Report

Number of columns with '#ERROR!': 1/13

Number of '#ERROR!' per column:
Full company name                                                                                     0
Company type                                                                                          0
Company ID number                                                                                     0
Sector                                                                                                0
Commodities (comma-seperated)                                                                         0
Stock exchange listing or company website                                                             0
Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)      0
Payments to Governments Report                                                                      993
Country                                                                                               0
ISO Code                                                                                              0
Year                                                                                                  0
Start Date                                                                                            0
End Date                                                                                              0
dtype: int64

Total number of rows/observations: 3834

------

Columns with '#ERROR!' values for Part 3 - Reporting government entities list.csv:
- Total reported

Number of columns with '#ERROR!': 1/9

Number of '#ERROR!' per column:
Full name of agency            0
Agency type                    0
ID number (if applicable)      0
Total reported               137
Country                        0
ISO Code                       0
Year                           0
Start Date                     0
End Date                       0
dtype: int64

Total number of rows/observations: 549

------

Columns with '#ERROR!' values for Part 3 - Reporting projects' list.csv:
- Production (value)

Number of columns with '#ERROR!': 1/14

Number of '#ERROR!' per column:
Full project name                                                                 0
Legal agreement reference number(s): contract, licence, lease, concession, …      0
Affiliated companies, start with Operator                                         0
Commodities (one commodity/row)                                                   0
Status                                                                            0
Production (volume)                                                               0
Unit                                                                              0
Production (value)                                                              117
Currency                                                                          0
Country                                                                           0
ISO Code                                                                          0
Year                                                                              0
Start Date                                                                        0
End Date                                                                          0
dtype: int64

Total number of rows/observations: 6280

------

Columns with '#ERROR!' values for Part 4 - Government revenues.csv:

Number of columns with '#ERROR!': 0/11

Number of '#ERROR!' per column:
GFS Classification     0
Sector                 0
Revenue stream name    0
Government entity      0
Revenue value          0
Currency               0
Country                0
ISO Code               0
Year                   0
Start Date             0
End Date               0
dtype: int64

Total number of rows/observations: 2307

------

Columns with '#ERROR!' values for Part 5 - Company data.csv:
- Comments

Number of columns with '#ERROR!': 1/17

Number of '#ERROR!' per column:
Company                            0
Government entity                  0
Revenue stream name                0
Levied on project (Y/N)            0
Reported by project (Y/N)          0
Project name                       0
Reporting currency                 0
Revenue value                      0
Payment made in-kind (Y/N)         0
In-kind volume (if applicable)     0
Unit (if applicable)               0
Comments                          44
Country                            0
ISO Code                           0
Year                               0
Start Date                         0
End Date                           0
dtype: int64

Total number of rows/observations: 33051

------

**The results below show that there are columns in the data that has empty strings ('')**

In [7]:
for tab in df_dict:
    print("Columns with '' values for {}:".format(tab))
    for column in columns_with_empty_strings(df_dict[tab]):
        print("- {}".format(column))
        
    print("\nNumber of columns with '': {}/{}".format(len(columns_with_empty_strings(df_dict[tab])), df_dict[tab].shape[1]))
    print("\nNumber of '' per column:")
    print(count_empty_strings_per_column(df_dict[tab]))
    print("\nTotal number of rows/observations: {}".format(df_dict[tab].shape[0]))
    print("\n------\n")

Columns with '' values for Part 1 - About.csv:

Number of columns with '': 0/39

Number of '' per column:
Country or area name                                                           0
ISO Alpha-3 Code                                                               0
National currency name                                                         0
National currency ISO-4217                                                     0
Start Date                                                                     0
End Date                                                                       0
Has an EITI Report been prepared by an Independent Administrator?              0
What is the name of the company?                                               0
Date that the EITI Report was made public                                      0
URL, EITI Report                                                               0
Does the government systematically disclose EITI data at a single location?    0
Publication date of the EITI data                                              0
Website link (URL) to EITI data                                                0
Are there other files of relevance?                                            0
Date that other file was made public                                           0
URL                                                                            0
Does the government have an open data policy?                                  0
Open data portal / files                                                       0
Oil                                                                            0
Gas                                                                            0
Mining (incl. Quarrying)                                                       0
Other, non-upstream sectors                                                    0
If yes, please specify name (insert new rows if multiple)                      0
Number of reporting government entities (incl SOEs if recipient)               0
Number of reporting companies (incl SOEs if payer)                             0
Reporting currency (ISO-4217 currency codes)                                   0
Exchange rate used: 1 USD =                                                    0
Exchange rate source (URL,…)                                                   0
… by revenue stream                                                            0
… by government agency                                                         0
… by company                                                                   0
… by project                                                                   0
Systematically disclosed                                                       0
Through EITI Reporting                                                         0
Not applicable                                                                 0
Not available                                                                  0
Name                                                                           0
Organisation                                                                   0
Email address                                                                  0
dtype: int64

Total number of rows/observations: 75

------

Columns with '' values for Part 3 - Reporting companies' list.csv:

Number of columns with '': 0/13

Number of '' per column:
Full company name                                                                                   0
Company type                                                                                        0
Company ID number                                                                                   0
Sector                                                                                              0
Commodities (comma-seperated)                                                                       0
Stock exchange listing or company website                                                           0
Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)    0
Payments to Governments Report                                                                      0
Country                                                                                             0
ISO Code                                                                                            0
Year                                                                                                0
Start Date                                                                                          0
End Date                                                                                            0
dtype: int64

Total number of rows/observations: 3834

------

Columns with '' values for Part 3 - Reporting government entities list.csv:

Number of columns with '': 0/9

Number of '' per column:
Full name of agency          0
Agency type                  0
ID number (if applicable)    0
Total reported               0
Country                      0
ISO Code                     0
Year                         0
Start Date                   0
End Date                     0
dtype: int64

Total number of rows/observations: 549

------

Columns with '' values for Part 3 - Reporting projects' list.csv:

Number of columns with '': 0/14

Number of '' per column:
Full project name                                                               0
Legal agreement reference number(s): contract, licence, lease, concession, …    0
Affiliated companies, start with Operator                                       0
Commodities (one commodity/row)                                                 0
Status                                                                          0
Production (volume)                                                             0
Unit                                                                            0
Production (value)                                                              0
Currency                                                                        0
Country                                                                         0
ISO Code                                                                        0
Year                                                                            0
Start Date                                                                      0
End Date                                                                        0
dtype: int64

Total number of rows/observations: 6280

------

Columns with '' values for Part 4 - Government revenues.csv:

Number of columns with '': 0/11

Number of '' per column:
GFS Classification     0
Sector                 0
Revenue stream name    0
Government entity      0
Revenue value          0
Currency               0
Country                0
ISO Code               0
Year                   0
Start Date             0
End Date               0
dtype: int64

Total number of rows/observations: 2307

------

Columns with '' values for Part 5 - Company data.csv:

Number of columns with '': 0/17

Number of '' per column:
Company                           0
Government entity                 0
Revenue stream name               0
Levied on project (Y/N)           0
Reported by project (Y/N)         0
Project name                      0
Reporting currency                0
Revenue value                     0
Payment made in-kind (Y/N)        0
In-kind volume (if applicable)    0
Unit (if applicable)              0
Comments                          0
Country                           0
ISO Code                          0
Year                              0
Start Date                        0
End Date                          0
dtype: int64

Total number of rows/observations: 33051

------

**The results below show that there are columns in the data that are only white spaces**

In [8]:
for tab in df_dict:
    print("Columns with only white spaces for {}:".format(tab))
    for column in columns_with_only_space(df_dict[tab]):
        print("- {}".format(column))
        
    print("\nNumber of columns with '': {}/{}".format(len(columns_with_only_space(df_dict[tab])), df_dict[tab].shape[1]))
    print("\nNumber of '' per column:")
    print(count_only_space_per_column(df_dict[tab]))
    print("\nTotal number of rows/observations: {}".format(df_dict[tab].shape[0]))
    print("\n------\n")

Columns with only white spaces for Part 1 - About.csv:

Number of columns with '': 0/39

Number of '' per column:
Country or area name                                                           0
ISO Alpha-3 Code                                                               0
National currency name                                                         0
National currency ISO-4217                                                     0
Start Date                                                                     0
End Date                                                                       0
Has an EITI Report been prepared by an Independent Administrator?              0
What is the name of the company?                                               0
Date that the EITI Report was made public                                      0
URL, EITI Report                                                               0
Does the government systematically disclose EITI data at a single location?    0
Publication date of the EITI data                                              0
Website link (URL) to EITI data                                                0
Are there other files of relevance?                                            0
Date that other file was made public                                           0
URL                                                                            0
Does the government have an open data policy?                                  0
Open data portal / files                                                       0
Oil                                                                            0
Gas                                                                            0
Mining (incl. Quarrying)                                                       0
Other, non-upstream sectors                                                    0
If yes, please specify name (insert new rows if multiple)                      0
Number of reporting government entities (incl SOEs if recipient)               0
Number of reporting companies (incl SOEs if payer)                             0
Reporting currency (ISO-4217 currency codes)                                   0
Exchange rate used: 1 USD =                                                    0
Exchange rate source (URL,…)                                                   0
… by revenue stream                                                            0
… by government agency                                                         0
… by company                                                                   0
… by project                                                                   0
Systematically disclosed                                                       0
Through EITI Reporting                                                         0
Not applicable                                                                 0
Not available                                                                  0
Name                                                                           0
Organisation                                                                   0
Email address                                                                  0
dtype: int64

Total number of rows/observations: 75

------

Columns with only white spaces for Part 3 - Reporting companies' list.csv:

Number of columns with '': 0/13

Number of '' per column:
Full company name                                                                                   0
Company type                                                                                        0
Company ID number                                                                                   0
Sector                                                                                              0
Commodities (comma-seperated)                                                                       0
Stock exchange listing or company website                                                           0
Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)    0
Payments to Governments Report                                                                      0
Country                                                                                             0
ISO Code                                                                                            0
Year                                                                                                0
Start Date                                                                                          0
End Date                                                                                            0
dtype: int64

Total number of rows/observations: 3834

------

Columns with only white spaces for Part 3 - Reporting government entities list.csv:

Number of columns with '': 0/9

Number of '' per column:
Full name of agency          0
Agency type                  0
ID number (if applicable)    0
Total reported               0
Country                      0
ISO Code                     0
Year                         0
Start Date                   0
End Date                     0
dtype: int64

Total number of rows/observations: 549

------

Columns with only white spaces for Part 3 - Reporting projects' list.csv:

Number of columns with '': 0/14

Number of '' per column:
Full project name                                                               0
Legal agreement reference number(s): contract, licence, lease, concession, …    0
Affiliated companies, start with Operator                                       0
Commodities (one commodity/row)                                                 0
Status                                                                          0
Production (volume)                                                             0
Unit                                                                            0
Production (value)                                                              0
Currency                                                                        0
Country                                                                         0
ISO Code                                                                        0
Year                                                                            0
Start Date                                                                      0
End Date                                                                        0
dtype: int64

Total number of rows/observations: 6280

------

Columns with only white spaces for Part 4 - Government revenues.csv:

Number of columns with '': 0/11

Number of '' per column:
GFS Classification     0
Sector                 0
Revenue stream name    0
Government entity      0
Revenue value          0
Currency               0
Country                0
ISO Code               0
Year                   0
Start Date             0
End Date               0
dtype: int64

Total number of rows/observations: 2307

------

Columns with only white spaces for Part 5 - Company data.csv:

Number of columns with '': 0/17

Number of '' per column:
Company                           0
Government entity                 0
Revenue stream name               0
Levied on project (Y/N)           0
Reported by project (Y/N)         0
Project name                      0
Reporting currency                0
Revenue value                     0
Payment made in-kind (Y/N)        0
In-kind volume (if applicable)    0
Unit (if applicable)              0
Comments                          0
Country                           0
ISO Code                          0
Year                              0
Start Date                        0
End Date                          0
dtype: int64

Total number of rows/observations: 33051

------

### Uniqueness and Non-duplication

In [9]:
def count_duplicates(main_df, duplicate_df, field, name):
    return main_df[duplicate_df].groupby(field).size().reset_index(name=name)

### No duplicate company/agency names in the same year and country

#### Expectations
- A company or agency name will appear only once per year per country.
- We expect that within the provided dataset, each combination of a company or agency name in a given year and country is unique.
- This expectation is grounded in the assumption that the dataset is designed to maintain distinct company or agency identities for a given year and country.

#### Assumptions
- The company or agency is only reported once per year regardless of sector/commodity
- Company and agency names are assumed to be uniquely associated with specific entities within a given year and country.
- Any duplicate entries would be considered as potential data entry errors or inconsistencies.

#### Results

In [10]:
# def get_duplicate_names(df, field):
#     return df[df.duplicated([field, 'Country', 'Year'], keep=False)].sort_values(by=[field])

def get_duplicates(df, field_to_check, *constraint_fields):
    return df[df.duplicated([field_to_check, *constraint_fields], keep=False)].sort_values(by=[field_to_check])

In [11]:
get_duplicates(df_part_3a, 'Full company name', *['Country', 'Year'])

,Full company name,Company type,Company ID number,Sector,Commodities (comma-seperated),Stock exchange listing or company website,"Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)",Payments to Governments Report,Country,ISO Code,Year,Start Date,End Date
1549,Al Waha Petroleum Co. Ltd.,Private,NaN,Oil & Gas,"Oil, Gas, Condensates",https://www.petroalwaha.com/,NaN,"628,712,909.00",Iraq,IRQ,2018,1/1/2018,12/31/2018
1585,Al Waha Petroleum Co. Ltd.,Private,NaN,Oil & Gas,"Oil, Gas, Condensates",NaN,NaN,"628,712,909.00",Iraq,IRQ,2018,1/1/2018,12/31/2018
1552,CNOOC IRAQ LIMITED,Private,NaN,Oil & Gas,"Oil, Gas, Condensates",https://cnoocinternational.com/operations/midd...,NaN,"1,098,601,809.00",Iraq,IRQ,2018,1/1/2018,12/31/2018
1586,CNOOC IRAQ LIMITED,Private,NaN,Oil & Gas,"Oil, Gas, Condensates",NaN,NaN,"1,098,601,809.00",Iraq,IRQ,2018,1/1/2018,12/31/2018
1564,PT PERTAMINA IRAK,Private,NaN,Oil & Gas,"Oil, Gas, Condensates",NaN,NaN,"990,135,616.00",Iraq,IRQ,2018,1/1/2018,12/31/2018
1588,PT PERTAMINA IRAK,Private,NaN,Oil & Gas,"Oil, Gas, Condensates",NaN,NaN,"990,135,616.00",Iraq,IRQ,2018,1/1/2018,12/31/2018
497,Rio Tuba Nickel Mining Corporation,Private,000-142-665-000,Mining,Nickel,nickelasia.com/subsidiaries/rio-tuba-nickel-mi...,nickelasia.com/investor-relations/financial-re...,"864,690,546.00",Philippines,PHL,2018,2018-01-01,2018-12-31
519,Rio Tuba Nickel Mining Corporation,Private,000-142-665-000,Mining,Limestone,nickelasia.com/subsidiaries/rio-tuba-nickel-mi...,nickelasia.com/investor-relations/financial-re...,NaN,Philippines,PHL,2018,2018-01-01,2018-12-31
173,شرکت برادران خالد عزیز,Private,1019984010,Other,Coal,Not applicable,Not available,#ERROR!,Afghanistan,AFG,2018,2017-12-21,2018-12-20
174,شرکت برادران خالد عزیز,Private,1019984010,Other,Coal,Not applicable,Not available,#ERROR!,Afghanistan,AFG,2018,2017-12-21,2018-12-20

#### Results
- There are duplicate listings of companies in the same year in Iraq and Afghanistan
- The duplicate listing in the Philippines may be attributed to the difference in commodities

In [12]:
get_duplicates(df_part_3b, 'Full name of agency', *['Country', 'Year'])

,Full name of agency,Agency type,ID number (if applicable),Total reported,Country,ISO Code,Year,Start Date,End Date
238,Mpohor Wassa East,Local government,NaN,#ERROR!,Ghana,GHA,2019.0,2019-01-01,2019-12-31
252,Mpohor Wassa East,Local government,NaN,NaN,Ghana,GHA,2019.0,2019-01-01,2019-12-31
247,Obuasi Municipal Assembly,Local government,NaN,#ERROR!,Ghana,GHA,2019.0,2019-01-01,2019-12-31
259,Obuasi Municipal Assembly,Local government,NaN,NaN,Ghana,GHA,2019.0,2019-01-01,2019-12-31

#### Results
- There are duplicate listings of agencies for Ghana in 2019

### No duplicate project names in the same year and country

#### Expectations
- A project name will appear only once per year per country.
- Each project name within the dataset is unique for a given year and country. This anticipation is based on the assumption that project names are assigned in a manner that avoids duplicates for a given year and country.

#### Assumptions
- A project is only reported once per year and country and commodity
- Project names are assumed to be distinct identifiers for different projects within the same year and country.
- Duplicate project names within the same year and country would be treated as anomalies.

#### Results

In [13]:
duplicate_projects = get_duplicates(df_part_3c, 
                                    'Full project name', 
                                    *['Country', 'Year', 'Commodities (one commodity/row)'])

duplicate_projects

,Full project name,"Legal agreement reference number(s): contract, licence, lease, concession, …","Affiliated companies, start with Operator",Commodities (one commodity/row),Status,Production (volume),Unit,Production (value),Currency,Country,ISO Code,Year,Start Date,End Date
1239,0,NaN,MCCM,Not applicable,Not applicable,NaN,Not applicable,Not applicable,Not applicable,Mongolia,MNG,2020,1/1/2020,12/31/2020
1109,0,NaN,Bayan erdes,Not applicable,Not applicable,NaN,Not applicable,Not applicable,Not applicable,Mongolia,MNG,2020,1/1/2020,12/31/2020
1168,0,NaN,Mon lid trade,Not applicable,Not applicable,NaN,Not applicable,Not applicable,Not applicable,Mongolia,MNG,2020,1/1/2020,12/31/2020
1185,0,NaN,STBL,Not applicable,Not applicable,NaN,Not applicable,Not applicable,Not applicable,Mongolia,MNG,2020,1/1/2020,12/31/2020
1196,0,NaN,Terguun service,Not applicable,Not applicable,NaN,Not applicable,Not applicable,Not applicable,Mongolia,MNG,2020,1/1/2020,12/31/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
duplicate_project_names = duplicate_projects['Full project name'].unique()

print("Number of duplicate project names: {}\n".format(len(duplicate_project_names.tolist())))

# duplicate_project_counts = duplicate_projects['Full project name'].value_counts()
# # print(duplicate_project_counts)

# print("Number of duplicates per project")
# for name, count in duplicate_project_counts.items():
#     if count > 1:
#         duplicates = duplicate_projects[duplicate_projects['Full project name'] == name]
#         print(f"Name: {name}, Count: {count}")

duplicate_projects_count = duplicate_projects.groupby('Full project name').size().reset_index(name='number of times duplicated')
duplicate_projects_count

Number of duplicate project names: 198

,Full project name,number of times duplicated
0,0,8
1,2025257,2
2,ALKANE ENERGY UK LIMITED (03128509),4
3,"ALKANE ENERGY UK LIMITED (03128509), EGDON RES...",2
4,ALPHA PETROLEUM RESOURCES LIMITED (03949599),4
...,...,...
192,TOTALENERGIES E&P NORTH SEA UK LIMITED (03682299),2
193,TOTALENERGIES E&P UK LIMITED (00811900),20
194,VICTOR,2
195,WINTERSHALL NOORDZEE B.V. (FC027567),3
196,"Wharf, Rvr Usk nr Caldicot Level",2

In [15]:
duplicates = duplicate_projects[duplicate_projects['Full project name'] == name]
duplicates

,Full project name,"Legal agreement reference number(s): contract, licence, lease, concession, …","Affiliated companies, start with Operator",Commodities (one commodity/row),Status,Production (volume),Unit,Production (value),Currency,Country,ISO Code,Year,Start Date,End Date
6150,"Wharf, Rvr Usk nr Caldicot Level",Licence,Hanson Limited,Not available,Not applicable,Not applicable,NaN,NaN,GBP,United Kingdom,GBR,2021,2021-01-01,2021-12-31
6149,"Wharf, Rvr Usk nr Caldicot Level",Licence,Hanson Limited,Not available,Not applicable,Not applicable,NaN,NaN,GBP,United Kingdom,GBR,2021,2021-01-01,2021-12-31

#### Implications
- There is a significant number of duplicate project names across many of the countries.
- There is a need to check/count the number of duplicates per country to see if this should be expected

In [39]:
# pd.set_option('display.max_rows', None)

project_counts_per_country = duplicate_projects.groupby('Country')['Full project name'].value_counts()

duplicates_per_country = project_counts_per_country[project_counts_per_country > 1]

print("Number of duplicate project names per country:")
print(duplicates_per_country)

# pd.reset_option('display.max_rows')

Number of duplicate project names per country:
Country         Full project name
Afghanistan     SSML-Kabu 13/2012                                                                 6
                SSML-Kabu 42/2014                                                                 4
                SSML-Kabu 2/2008                                                                  4
                SSML-Kabu 19/2016                                                                 4
                SSML-Kabu 10/2016                                                                 4
                                                                                                 ..
United Kingdom  EGDON RESOURCES U.K. LIMITED (03424561), REGENT PARK ENERGY LIMITED (04557422)    2
                Boulby Offshore Mine                                                              2
                Claymore                                                                          2
                CIRQUE ENERGY (UK) LIMITED (03080778)                                             2
                Wharf, Rvr Usk nr Caldicot Level                                                  2
Name: count, Length: 197, dtype: int64

Country         Full project name
Afghanistan     SSML-Kabu 13/2012                                                                 6
                SSML-Kabu 42/2014                                                                 4
                SSML-Kabu 2/2008                                                                  4
                SSML-Kabu 19/2016                                                                 4
                SSML-Kabu 10/2016                                                                 4
                                                                                                 ..
United Kingdom  EGDON RESOURCES U.K. LIMITED (03424561), REGENT PARK ENERGY LIMITED (04557422)    2
                Boulby Offshore Mine                                                              2
                Claymore                                                                          2
                CIRQUE ENERGY (UK) LIMITED (03080778)                                             2
                Wharf, Rvr Usk nr Caldicot Level                                                  2
Name: count, Length: 197, dtype: int64

In [41]:
duplicate_projects.groupby('Country').size().reset_index(name='duplicates per country')

               Country  duplicates per country
0          Afghanistan                      26
1              Armenia                       3
2         Burkina Faso                       5
3             Cameroon                       4
4        Cote d'Ivoire                       2
5              Country                       7
6             Country                        9
7   Dominican Republic                       2
8              Germany                      45
9                Ghana                      22
10             Liberia                      19
11          Madagascar                       9
12          Mauritania                       2
13              Mexico                      21
14            Mongolia                      28
15         Philippines                       6
16             Senegal                      20
17             Ukraine                      62
18      United Kingdom                     575

In [17]:
df_part_3c[df_part_3c['Full project name'] == 'CIRQUE ENERGY (UK) LIMITED (03080778)']

,Full project name,"Legal agreement reference number(s): contract, licence, lease, concession, …","Affiliated companies, start with Operator",Commodities (one commodity/row),Status,Production (volume),Unit,Production (value),Currency,Country,ISO Code,Year,Start Date,End Date
6001,CIRQUE ENERGY (UK) LIMITED (03080778),PEDL324,"CIRQUE ENERGY (UK) LIMITED (03080778), STELINM...",Not available,Not applicable,Not applicable,NaN,NaN,GBP,United Kingdom,GBR,2021,2021-01-01,2021-12-31
6008,CIRQUE ENERGY (UK) LIMITED (03080778),PEDL348,"CIRQUE ENERGY (UK) LIMITED (03080778), STELINM...",Not available,Not applicable,Not applicable,NaN,NaN,GBP,United Kingdom,GBR,2021,2021-01-01,2021-12-31

### No duplicate company ids in the same year and country

#### Expectations
- A company ID will appear only once per year per country
- The company or agency identification numbers (IDs) within the dataset are unique for a given year and country.
- The dataset has been structured to ensure a one-to-one mapping between company or agency IDs.

#### Assumptions
- 1 company ID = 1 company in a country
- Each company or agency ID is assumed to uniquely represent a specific entity for the year and country.
- Duplicate company or agency IDs within the same year and country are considered deviations from the expected dataset structure.

#### Results

In [18]:
duplicate_ids = get_duplicates(df_part_3a, 
                                    'Company ID number', 
                                    *['Country', 'Year'])

duplicate_ids

,Full company name,Company type,Company ID number,Sector,Commodities (comma-seperated),Stock exchange listing or company website,"Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)",Payments to Governments Report,Country,ISO Code,Year,Start Date,End Date
519,Rio Tuba Nickel Mining Corporation,Private,000-142-665-000,Mining,Limestone,nickelasia.com/subsidiaries/rio-tuba-nickel-mi...,nickelasia.com/investor-relations/financial-re...,NaN,Philippines,PHL,2018,2018-01-01,2018-12-31
497,Rio Tuba Nickel Mining Corporation,Private,000-142-665-000,Mining,Nickel,nickelasia.com/subsidiaries/rio-tuba-nickel-mi...,nickelasia.com/investor-relations/financial-re...,"864,690,546.00",Philippines,PHL,2018,2018-01-01,2018-12-31
878,HOUNDE GOLD OPERATION SA,Private,00064526S,Mining,Or,Indisponible,NaN,"39,636,048,842.00",Burkina Faso,BFA,2019,1/1/2019,12/31/2019
877,HOUNDE EXPLORATION BF SARL,Private,00064526S,Mining,Or,https://www.endeavourmining.com/our-portfolio/...,NaN,"7,879,789.00",Burkina Faso,BFA,2019,1/1/2019,12/31/2019
872,HOUNDE EXPLORATION BF SARL,Private,00064526S,Mining,Gold,https://www.endeavourmining.com/our-portfolio/...,NaN,"13,130,988.00",Burkina Faso,BFA,2018,1/1/2018,12/31/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,GX Technology,NaN,NaN,Oil & Gas,NaN,NaN,NaN,NaN,Seychelles,SYC,2018,2018-01-01,2018-12-31
3217,JOGMEX,NaN,NaN,Oil & Gas,NaN,NaN,NaN,NaN,Seychelles,SYC,2018,2018-01-01,2018-12-31
3242,GRAYSON BANDA,Private,NaN,Mining,Gold,Not available,Not available,"3,126,118,498.00",Tanzania,TZA,2018,2017-07-01,2018-06-30
3256,TANZANIA PORTLAND CEMENT PUBLIC LIMITED COMPANY,Private,NaN,Mining,"Limeston, Sandstone",Not available,Not available,"24,750,760,174.02",Tanzania,TZA,2018,2017-07-01,2018-06-30
3258,State Mining Corporation (STAMICO),State-owned enterprises & public corporations,NaN,Mining,Gold,http://www.stamico.co.tz/,Not available,"1,357,092.00",Tanzania,TZA,2018,2017-07-01,2018-06-30

In [59]:
duplicate_company_ids_1 = df_part_3a[df_part_3a.duplicated(['Country', 'Year', 'Company ID number'], keep=False)]

,Full company name,Company type,Company ID number,Sector,Commodities (comma-seperated),Stock exchange listing or company website,"Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)",Payments to Governments Report,Country,ISO Code,Year,Start Date,End Date
0,Amin Karimzai Campany,Private,1007815085,Other,Talc,Not applicable,Not available,#ERROR!,Afghanistan,AFG,2018,2017-12-21,2018-12-20
1,Habib Shahab Talc and Marble exploitation and ...,Private,1013655012,Other,"Talc, Construction stone",Not applicable,Not available,#ERROR!,Afghanistan,AFG,2018,2017-12-21,2018-12-20
14,Amania Mining Company,Private,9000197187,Other,Fluoride,Not applicable,Not available,#ERROR!,Afghanistan,AFG,2018,2017-12-21,2018-12-20
18,Bilal Musazai Company Limited,Private,1009592088,Other,Talc,Not applicable,Not available,#ERROR!,Afghanistan,AFG,2018,2017-12-21,2018-12-20
30,Habib Shahab Talc and Marble Extraction and Pr...,Private,1013655012,Other,Talc,Not applicable,Not available,#ERROR!,Afghanistan,AFG,2018,2017-12-21,2018-12-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,GX Technology,NaN,NaN,Oil & Gas,NaN,NaN,NaN,NaN,Seychelles,SYC,2018,2018-01-01,2018-12-31
3217,JOGMEX,NaN,NaN,Oil & Gas,NaN,NaN,NaN,NaN,Seychelles,SYC,2018,2018-01-01,2018-12-31
3242,GRAYSON BANDA,Private,NaN,Mining,Gold,Not available,Not available,"3,126,118,498.00",Tanzania,TZA,2018,2017-07-01,2018-06-30
3256,TANZANIA PORTLAND CEMENT PUBLIC LIMITED COMPANY,Private,NaN,Mining,"Limeston, Sandstone",Not available,Not available,"24,750,760,174.02",Tanzania,TZA,2018,2017-07-01,2018-06-30
3258,State Mining Corporation (STAMICO),State-owned enterprises & public corporations,NaN,Mining,Gold,http://www.stamico.co.tz/,Not available,"1,357,092.00",Tanzania,TZA,2018,2017-07-01,2018-06-30

In [54]:
duplicate_ids.groupby('Company ID number').size().reset_index(name='duplicates')

   Company ID number  duplicates
0    000-142-665-000           2
1          00064526S           4
2         1007815085           4
3         1008627083           3
4         1009592088           4
5         1010360087           4
6         1013655012           5
7         1016525014           4
8         1019984010           2
9          103947189           2
10        1044142014           2
11         108744308           2
12    1384,1998-1999           2
13           2700773           4
14     761,1998-1999           2
15        9000036856           2
16        9000197187           4
17        9000647140           2
18        9001044669           4
19        9001204305           4
20        9001353375           2
21        9001505461           2
22        9002301225           2
23        9003329902           2
24         919160675           2
25         931713671           2
26         983426417           5
27                NC          37
28                Nc           2
29     Not Available           8
30    Not applicable          81
31     Not available          40
32  Not communicated          19
33          RC321517           2
34          RC322270           2

In [42]:
duplicate_id_names = duplicate_ids['Company ID number'].unique()

print("Number of duplicate IDs: {}\n".format(len(duplicate_id_names.tolist())))

duplicate_id_counts = duplicate_ids['Company ID number'].value_counts()
# print(duplicate_project_counts)

print("Number of duplicate IDS")
for id, count in duplicate_id_counts.items():
    if count > 1:
        duplicates = duplicate_ids[duplicate_ids['Company ID number'] == id]
        print(f"Name: {id}, Count: {count}")

Number of duplicate IDs: 36

Number of duplicate IDS
Name: Not applicable, Count: 81
Name: Not available, Count: 40
Name: NC, Count: 37
Name: Not communicated, Count: 19
Name: Not Available, Count: 8
Name: 1013655012, Count: 5
Name: 983426417, Count: 5
Name: 1009592088, Count: 4
Name: 1010360087, Count: 4
Name: 1016525014, Count: 4
Name: 9001044669, Count: 4
Name: 2700773, Count: 4
Name: 9001204305, Count: 4
Name: 1007815085, Count: 4
Name: 9000197187, Count: 4
Name: 00064526S, Count: 4
Name: 1008627083, Count: 3
Name: 931713671, Count: 2
Name: 000-142-665-000, Count: 2
Name: Nc, Count: 2
Name: 9003329902, Count: 2
Name: RC321517, Count: 2
Name: 919160675, Count: 2
Name: 9000647140, Count: 2
Name: 9002301225, Count: 2
Name: 9001505461, Count: 2
Name: 9001353375, Count: 2
Name: 9000036856, Count: 2
Name: 761,1998-1999, Count: 2
Name: 1384,1998-1999, Count: 2
Name: 108744308, Count: 2
Name: 1044142014, Count: 2
Name: 103947189, Count: 2
Name: 1019984010, Count: 2
Name: RC322270, Count: 2

In [46]:
duplicate_ids_agency = get_duplicates(df_part_3b, 
                                    'ID number (if applicable)', 
                                    *['Country', 'Year'])

duplicate_ids_agency

,Full name of agency,Agency type,ID number (if applicable),Total reported,Country,ISO Code,Year,Start Date,End Date
424,Norwegian Central Bank,Central goverment,937884117,-,Norway,NOR,2019.0,1/1/2019,12/31/2019
425,Petoro,Central goverment,937884117,"96,478,000,000.00",Norway,NOR,2019.0,1/1/2019,12/31/2019
265,Superintendencia de Administración Tributaria ...,Central government,<Use Legal Entity Identifier if available>,"149,007,097.60",Guatemala,GTM,2017.0,2017-01-01,2017-12-01
266,Municipalidades,Local government,<Use Legal Entity Identifier if available>,"63,301,988.42",Guatemala,GTM,2017.0,2017-01-01,2017-12-01
262,Ministerio de Energia y Minas (MEM),Central government,<Use Legal Entity Identifier if available>,"228,058,363.73",Guatemala,GTM,2017.0,2017-01-01,2017-12-01
...,...,...,...,...,...,...,...,...,...
544,Ministry of Mines and Minerals Development,Central goverment,NaN,"48,229,839.93",Zambia,ZMB,2018.0,2018-01-01,2018-12-31
545,Environmental Protection Fund,Other,NaN,"23,330,601.78",Zambia,ZMB,2018.0,2018-01-01,2018-12-31
546,Ministry of Lands,Central goverment,NaN,"1,756,688.47",Zambia,ZMB,2018.0,2018-01-01,2018-12-31
547,IDC,Other,NaN,"69,205,641.67",Zambia,ZMB,2018.0,2018-01-01,2018-12-31
548,MoF,Central goverment,NaN,"23,178,861.72",Zambia,ZMB,2018.0,2018-01-01,2018-12-31

In [56]:
duplicate_ids_agency.groupby('ID number (if applicable)').size().reset_index(name='duplicates')

                    ID number (if applicable)  duplicates
0                                   937884117           2
1  <Use Legal Entity Identifier if available>           5
2                                      Mining           3
3                               No applicable           7
4                              Non applicable          45
5                              Not applicable          59
6                               Not available           9
7                                   Oil & Gas           6

In [58]:
duplicate_ids_agency.groupby('Country').size().reset_index(name='duplicates')

                         Country  duplicates
0                    Afghanistan          10
1                        Albania          22
2                      Argentina           4
3                        Armenia           6
4                   Burkina Faso          36
5                       Cameroon           8
6                           Chad          21
7                  Cote d'Ivoire          18
8   Democratic Republic of Congo          10
9                       Ethiopia           3
10                       Germany          16
11                         Ghana          80
12                     Guatemala           5
13                          Iraq          17
14                       Liberia          10
15                    Madagascar          24
16                          Mali          14
17                    Mauritania           6
18                        Mexico           3
19                      Mongolia          23
20                    Mozambique           4
21                       Myanmar          10
22                       Nigeria          18
23                        Norway           2
24         Republic of the Congo           9
25                       Senegal          20
26                    Seychelles           6
27                      Tanzania          15
28                          Togo          18
29           Trinidad and Tobago           6
30                United Kingdom          12
31                        Zambia          13

#### Implications
- There is a significant number of duplicate company ID values
- Most are due to the information not being available or not existing in the dataset

In [44]:
duplicate_ids.groupby('Country').size().reset_index(name='duplicates')

                         Country  duplicates
0                    Afghanistan          55
1                        Armenia           4
2                   Burkina Faso           4
3                           Chad          48
4                  Cote d'Ivoire           6
5   Democratic Republic of Congo           4
6                      Guatemala          11
7                           Iraq         141
8                     Mauritania           5
9                         Mexico          10
10                       Myanmar          57
11                       Nigeria          44
12                        Norway          11
13                   Philippines           2
14         Republic of the Congo          35
15                    Seychelles          10
16                      Tanzania           3

In [45]:
duplicate_ids.groupby('Country').size().reset_index(name='duplicates').sum()

Country       AfghanistanArmeniaBurkina FasoChadCote d'Ivoir...
duplicates                                                  450
dtype: object

### No duplicate company-project and commodity pair in the same year and country

#### Expectations
- We anticipate that within the provided dataset, each combination of a company and project in a given year and country should be unique.
- This expectation is grounded in the assumption that projects are distinctly identified by the combination of the involved company, the project name, and the associated year and country.

#### Assumptions
- Projects are uniquely identified by the combination of the company, project name, year, and country.
- The dataset has been curated to prevent duplicate entries for the same project within the same year and country.

#### Results

In [20]:
company_project_duplicates = df_part_3c.duplicated(subset=['Affiliated companies, start with Operator', 'Full project name', 'Year', 'Country'], keep=False)

duplicate_rows = df_part_3c[company_project_duplicates]
duplicate_rows

,Full project name,"Legal agreement reference number(s): contract, licence, lease, concession, …","Affiliated companies, start with Operator",Commodities (one commodity/row),Status,Production (volume),Unit,Production (value),Currency,Country,ISO Code,Year,Start Date,End Date
21,EXPL 3/2012,Mining Exploration License,شرکت برادران خالد عزیز,NaN,NaN,Not applicable,Not applicable,Not applicable,Not applicable,Afghanistan,AFG,2018,2017-12-21,2018-12-20
22,EXPL 3/2012,Mining Exploration License,شرکت برادران خالد عزیز,NaN,NaN,Not applicable,Not applicable,Not applicable,Not applicable,Afghanistan,AFG,2018,2017-12-21,2018-12-20
37,SSML-Kabu 10/2016,Small-scale mining license,Hakim Jan,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,AFG,2018,2017-12-21,2018-12-20
38,SSML-Kabu 10/2016,Small-scale mining license,Hakim Jan,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,AFG,2018,2017-12-21,2018-12-20
41,SSML-Kabu 13/2012,Small-scale mining license,شرکت ساختمانی فاروق استانکزی,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,AFG,2018,2017-12-21,2018-12-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6254,"Area 461, 1,000,000 tpa, Median Deep",Licence,Volker Dredging Ltd,Not available,Not applicable,Not applicable,NaN,NaN,GBP,United Kingdom,GBR,2021,2021-01-01,2021-12-31
6255,Kansanshi Mine,7057 HQ LML,Kansanshi Mining Plc,Copper (2603),Production,"250,860",Tonnes,"1,547.48",USD,Zambia,ZMB,2017,2017-01-01,2017-12-31
6256,Kansanshi Mine,17019-HQ-LEL,Kansanshi Mining Plc,Gold (7108),Production,4.565,Tonnes,183.31,USD,Zambia,ZMB,2017,2017-01-01,2017-12-31
6268,Kansanshi Mine,7057 HQ LML,KANSANSHI MINING PLC,Copper (2603),Production,"251,517.19",Tonnes,"1,640,609,303.36",USD,Zambia,ZMB,2018,2018-01-01,2018-12-31
6269,Kansanshi Mine,17019-HQ-LEL,KANSANSHI MINING PLC,Gold (7108),Production,3.9,Tonnes,"140,315,848.29",USD,Zambia,ZMB,2018,2018-01-01,2018-12-31

In [21]:
print("Duplicates per country:")
print(count_duplicates(df_part_3c, company_project_duplicates, 'Country', 'duplicates_per_country'))

Duplicates per country:
                Country  duplicates_per_country
0           Afghanistan                      26
1               Albania                      16
2             Argentina                      15
3               Armenia                       9
4          Burkina Faso                      30
5              Cameroon                       4
6         Cote d'Ivoire                      10
7               Country                       7
8              Country                        9
9    Dominican Republic                      29
10                Ghana                      26
11            Guatemala                       3
12              Liberia                      17
13           Madagascar                      13
14           Mauritania                       2
15               Mexico                      19
16             Mongolia                      12
17           Mozambique                       2
18              Myanmar                       2
19          Philippines                      32
20              Senegal                      36
21  Trinidad and Tobago                      36
22              Ukraine                    1590
23       United Kingdom                     449
24               Zambia                       4

In [22]:
print("Duplicates per year:")
print(count_duplicates(df_part_3c, company_project_duplicates, 'Year', 'duplicates_per_year'))

Duplicates per year:
   Year  duplicates_per_year
0  2017                   41
1  2018                  651
2  2019                  526
3  2020                  725
4  2021                  439
5  Year                   16

In the next part, let's look at duplicates with the same project name, affiliated companies, country, year, and commodity

In [23]:
company_project_comm_duplicates = df_part_3c.duplicated(subset=['Affiliated companies, start with Operator', 'Full project name', 'Year', 'Country', 'Commodities (one commodity/row)'], keep=False)

duplicate_rows_2 = df_part_3c[company_project_comm_duplicates]
duplicate_rows_2

,Full project name,"Legal agreement reference number(s): contract, licence, lease, concession, …","Affiliated companies, start with Operator",Commodities (one commodity/row),Status,Production (volume),Unit,Production (value),Currency,Country,ISO Code,Year,Start Date,End Date
21,EXPL 3/2012,Mining Exploration License,شرکت برادران خالد عزیز,NaN,NaN,Not applicable,Not applicable,Not applicable,Not applicable,Afghanistan,AFG,2018,2017-12-21,2018-12-20
22,EXPL 3/2012,Mining Exploration License,شرکت برادران خالد عزیز,NaN,NaN,Not applicable,Not applicable,Not applicable,Not applicable,Afghanistan,AFG,2018,2017-12-21,2018-12-20
37,SSML-Kabu 10/2016,Small-scale mining license,Hakim Jan,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,AFG,2018,2017-12-21,2018-12-20
38,SSML-Kabu 10/2016,Small-scale mining license,Hakim Jan,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,AFG,2018,2017-12-21,2018-12-20
41,SSML-Kabu 13/2012,Small-scale mining license,شرکت ساختمانی فاروق استانکزی,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,AFG,2018,2017-12-21,2018-12-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,"Area 340, 500,000 tpa, Nab",Licence,Volker Dredging Ltd,Not available,Not applicable,Not applicable,NaN,NaN,GBP,United Kingdom,GBR,2021,2021-01-01,2021-12-31
6251,"Area 351, 500,000 tpa, SE Isle of Wight",Licence,Volker Dredging Ltd,Not available,Not applicable,Not applicable,NaN,NaN,GBP,United Kingdom,GBR,2021,2021-01-01,2021-12-31
6252,"Area 351, 500,000 tpa, SE Isle of Wight",Licence,Volker Dredging Ltd,Not available,Not applicable,Not applicable,NaN,NaN,GBP,United Kingdom,GBR,2021,2021-01-01,2021-12-31
6253,"Area 461, 1,000,000 tpa, Median Deep",Licence,Volker Dredging Ltd,Not available,Not applicable,Not applicable,NaN,NaN,GBP,United Kingdom,GBR,2021,2021-01-01,2021-12-31
6254,"Area 461, 1,000,000 tpa, Median Deep",Licence,Volker Dredging Ltd,Not available,Not applicable,Not applicable,NaN,NaN,GBP,United Kingdom,GBR,2021,2021-01-01,2021-12-31

In [24]:
print("Duplicates per country:")
print(count_duplicates(df_part_3c, company_project_comm_duplicates, 'Country', 'duplicates_per_country'))

Duplicates per country:
               Country  duplicates_per_country
0          Afghanistan                      26
1             Cameroon                       4
2        Cote d'Ivoire                       2
3              Country                       7
4             Country                        9
5   Dominican Republic                       2
6                Ghana                      14
7              Liberia                      17
8           Madagascar                       9
9           Mauritania                       2
10              Mexico                      19
11            Mongolia                      12
12         Philippines                       4
13             Senegal                       2
14             Ukraine                      14
15      United Kingdom                     449

In [25]:
print("Duplicates per year:")
print(count_duplicates(df_part_3c, company_project_comm_duplicates, 'Year', 'duplicates_per_year'))

Duplicates per year:
   Year  duplicates_per_year
0  2017                   10
1  2018                   82
2  2019                   27
3  2020                   18
4  2021                  439
5  Year                   16

In [26]:
print("Duplicates per commodity:")
print(count_duplicates(df_part_3c, company_project_comm_duplicates, 'Commodities (one commodity/row)', 'duplicates_per_commodity'))

Duplicates per commodity:
    Commodities (one commodity/row)  duplicates_per_commodity
0             Coal, Technical water                         6
1   Commodities (one commodity/row)                        16
2                        Condensate                         2
3                  Crude oil (2709)                        23
4                       Gold (7108)                         4
5                  Limestone (2521)                         4
6                Natural gas (2711)                         4
7                     Nickel (2604)                         2
8                    Non applicable                         2
9                    Not applicable                        29
10                    Not available                       441
11                     Not reported                         8
12                     Other (2617)                        11

#### Implications
- there are a significant number of duplicates that have the same Full project name and Affiliated companies in the data (2416)
- even when accounting for the commodity being reported in the project, there are still a significant number of dupliates (610) that have the same Full project name, Affiliated companies, and commodities being reported
- most of these duplicates may be attributed to commodities not being part of the information provided (464/610)

### Consistency

### All companies or agencies in company data (Part 5) exist in the Reporting companies' agencies (Part 3a) and Reporting government entities list (Part 3b)

#### Expectations
- We expect that every company or agency mentioned in the company dataset should have a corresponding entry in either the reporting companies dataset or the reporting government entities dataset.
- This is based on the assumption that the company data are associated with existing companies and/or government entities and any discrepancies could indicate data inconsistencies or missing information.

#### Assumptions
- The company and agency datasets are comprehensive and contain information about all relevant companies and government entities.
- The naming conventions for companies and agencies in the company report match those in the company and government entities tab/dataset.
- Each entry in the company report corresponds to a valid and existing company or agency.

#### Results

In [27]:
def count_missing(main_df, missing_df, field, name):
    return main_df[missing_df].groupby(field).size().reset_index(name=name)

In [28]:
all_companies_exist = df_part_5['Company'].isin(df_part_3a['Full company name']).all()
if all_companies_exist:
    print("All companies in ledger exist in companies.")
else:
    print("Not all companies in ledger exist in companies.")

missing_companies = df_part_5[~df_part_5['Company'].isin(df_part_3a['Full company name'])]

# Display the result
print("Companies in ledger that don't exist in companies:")
print(missing_companies[['Company', 'Country', 'Year']])

print(missing_companies['Company'].unique())

print('\n')
print(count_missing(df_part_5, ~df_part_5['Company'].isin(df_part_3a['Full company name']), 'Country', 'missing_per_country'))

print('\n')
print(count_missing(df_part_5, ~df_part_5['Company'].isin(df_part_3a['Full company name']), 'Year', 'missing_per_year'))

Not all companies in ledger exist in companies.
Companies in ledger that don't exist in companies:
                                                Company         Country  Year
29                           Abid Hassan Zadran Limited     Afghanistan  2018
30                           Abid Hassan Zadran Limited     Afghanistan  2018
31                           Abid Hassan Zadran Limited     Afghanistan  2018
32                           Abid Hassan Zadran Limited     Afghanistan  2018
37     Afghan Shiinink, Mines Extraction and Processing     Afghanistan  2018
...                                                 ...             ...   ...
32506                             Royal Dutch Shell plc  United Kingdom  2021
32507                             Royal Dutch Shell plc  United Kingdom  2021
32508                             Royal Dutch Shell plc  United Kingdom  2021
32509                             Royal Dutch Shell plc  United Kingdom  2021
32510                             Royal Dutch Shell plc  United Kingdom  2021

[1922 rows x 3 columns]
['Abid Hassan Zadran Limited'
 'Afghan Shiinink, Mines Extraction and Processing'
 'Afghan Shinink, Mines Extraction and Processing'
 'Afghan Talc Limited Joint Venture' 'Arif Shahaab Limited'
 'Ittifaq Azrahwal Limited' 'Hayat Khan'
 'Nangarhar Afghan Talc, Mines Extraction and Proessing Company'
 'Nasib Usmaan Limited'
 'New Rahmat Insaaf Talc and Marble Extraction and Processing Company'
 'شرکت مسعودعارف فقیرزاده' 'Paigham Irshaad Limited'
 'Sang Siya Afghanistan Limited' 'Shams Uddin' 'Mohammad Edris'
 'محمد یونس ولد محمد عیسی, محمد یونس' 'Umeed Bakhtiar Limited'
 'Said Laiq Hussain'
 'استخراج 10000مترمکعب ریگ وجغل توسط شرکت ساختمانی احداث Ehdas Construction and Gravel Company'
 'استخراج جغل خاکدار صالح ایجاز Saleh Ejaz Gravel Extraction'
 'استخراج ریگ وجغل توسط شرکت ساختمانی افغان بتن Afghan Batn Gravel Extraction Company'
 'استخراج ریگ وجغل متین افغان Mateen Afghan Gravel Extraction'
 'پروژه انتقال پایپ لاین گاز تاپی TAPI Gas transmission pipeline Project'
 'تولید وپروسس سنگ مرمرالیوسف پوپل Al Yosuf popal Marble Processing Company'
 'Aziz Ullah'
 'شرکت تولید مواد معدنی کابل کلسید Kabul Classid Mining Production Company'
 'نصب ومنتاژیک دستگاه ریگریشن محمد سمیع Mohammad Sami Regration Installment Plant'
 'Amania Mining' 'Anwar Ali Afghan Zadran Limited' 'Arif Waqar Limited'
 'Dawatazi Balkyaan Limited' 'Haleem Khan Tareen Limited'
 'Hashmat Wali Mandozai Limited' 'Jannat Nizam Limited'
 'Kamran Haroon Limited' 'Karimi Maroofkhel Limited'
 'Khusraw Attai Limited' 'Milad Ghulam Mustafa Limited'
 'Ministry of mines and petroleum Agreements' nan
 'Natural Sarf Stone Processing Company' 'Nauman Aadil Limited'
 'Nauman Romaan Sherzad Limited' 'Navay Sangar Zadran Limited'
 'Navid Ali Shah Trading Company' 'Omar Atta Limited'
 'Omid Sabawoon Sand and Gravel Production Company' 'Pak Ittifaq Limited'
 'Payam Rah e Farda Limited' 'Rahimi Neka Brothers Limited'
 'Rahman Ullah Speenghar Limited' 'Sang Siyyaa Afghanistan Limited'
 'Sayed Nasir Traders'
 'Shahab Mehboob Talc and Marble Extraction and Processing Company'
 'Shamshir Obaid Talc Processing Company'
 'Waziri Mines Extraction and Processing Company'
 'Yusufi Qazizada Soap and Tomato Paste Production Company'
 'Zabit Shah Gorbaz Limited' 'Zahid Sayed Rahman Limited'
 'Zaitoon Khan Trading Company' 'Zakir Farid Limited' 'افغان, محمد مسعود'
 'باور خان, باور خان' 'حیات الله ولد حمیدالله, حیات الله'
 'خان, نور الرحمن' 'شرکت استخراج معادن یاسمین'
 'شرکت ساختمانی احمدی احمد ربی' 'شرکت ساختمانی اریانا سازه'
 'شرکت ساختمانی کاوون سلطانی' 'شرکت ساختمانی و سرکسازی افغان صداقت'
 'شرکت مسعود حامد فقیرزاده' 'محمد  آگل ولد محمد امین, محمد آگل'
 'محمد عیسی ولد آغا گل, محمد عیسی' 'واثق ولد ملنگ خان, واثق'
 'Anio Oil&Gas sha (ish Trans Atlantik Albania Ltd)' 'Ervin'
 'HEC LANABREGAS' 'ERVIN' 'Hec Lanabregas'
 'Add new rows as necessary, right click the row number to the left and select "Insert"'
 'Company' 'Autres (Secteur artisanal)'
 'Autres sociétés non incluses dans le périmètre de conciliation'
 'LA MANCHA CI (France)' 'Autres acheteurs'
 'Neptune Energy Deutschland GmbH\n(former: Engie E&P Holding Germany GmbH)'
 'Wintershall GmbH\n(now: Wintershall DEA Deutschland GmbH)' 'OEL'
 'Additional information'
 'Any additional information that is not eligible for inclusion in the table above, please include below as comments.'
 'Unilateral Disclosure for Other Minerals sector'
 'Unilateral Disclosure for Gems and Jade sector'
 'Social contributions - not received by government entities'
 'Royal Dutch Shell plc']


          Country  missing_per_country
0     Afghanistan                 1745
1         Albania                   23
2       Argentina                    1
3        Cameroon                    1
4   Cote d'Ivoire                    7
5         Country                    4
6         Germany                   14
7        Mongolia                    2
8  United Kingdom                   92


   Year  missing_per_year
0  2017                23
1  2018               148
2  2019              1609
3  2020                 1
4  2021                92
5  Year                 4

In [29]:
all_in_companies_agencies = (
    df_part_5['Company'].isin(df_part_3a['Full company name']) | 
    df_part_5['Company'].isin(df_part_3b['Full name of agency'])
)

if all_in_companies_agencies.all():
    print("All company names in ledger can be found in either full_company_name or full_agency_name.")
else:
    print("Not all company names in ledger can be found in either full_company_name or full_agency_name.")

not_in_companies_agencies = (
    ~df_part_5['Company'].isin(df_part_3a['Full company name']) & 
    ~df_part_5['Company'].isin(df_part_3b['Full name of agency'])
)

# Display the result
print("Companies or agencies in the company data that don't exist in companies and agencies list:")
print(df_part_5[not_in_companies_agencies][['Company', 'Country', 'Year']])

print(df_part_5[not_in_companies_agencies]['Company'].unique())

print('\n')
print(count_missing(df_part_5, ~df_part_5['Company'].isin(df_part_3a['Full company name']), 'Country', 'missing_per_country'))

print('\n')
print(count_missing(df_part_5, ~df_part_5['Company'].isin(df_part_3a['Full company name']), 'Year', 'missing_per_year'))

Not all company names in ledger can be found in either full_company_name or full_agency_name.
Companies or agencies in the company data that don't exist in companies and agencies list:
                                                Company         Country  Year
29                           Abid Hassan Zadran Limited     Afghanistan  2018
30                           Abid Hassan Zadran Limited     Afghanistan  2018
31                           Abid Hassan Zadran Limited     Afghanistan  2018
32                           Abid Hassan Zadran Limited     Afghanistan  2018
37     Afghan Shiinink, Mines Extraction and Processing     Afghanistan  2018
...                                                 ...             ...   ...
32506                             Royal Dutch Shell plc  United Kingdom  2021
32507                             Royal Dutch Shell plc  United Kingdom  2021
32508                             Royal Dutch Shell plc  United Kingdom  2021
32509                             Royal Dutch Shell plc  United Kingdom  2021
32510                             Royal Dutch Shell plc  United Kingdom  2021

[1922 rows x 3 columns]
['Abid Hassan Zadran Limited'
 'Afghan Shiinink, Mines Extraction and Processing'
 'Afghan Shinink, Mines Extraction and Processing'
 'Afghan Talc Limited Joint Venture' 'Arif Shahaab Limited'
 'Ittifaq Azrahwal Limited' 'Hayat Khan'
 'Nangarhar Afghan Talc, Mines Extraction and Proessing Company'
 'Nasib Usmaan Limited'
 'New Rahmat Insaaf Talc and Marble Extraction and Processing Company'
 'شرکت مسعودعارف فقیرزاده' 'Paigham Irshaad Limited'
 'Sang Siya Afghanistan Limited' 'Shams Uddin' 'Mohammad Edris'
 'محمد یونس ولد محمد عیسی, محمد یونس' 'Umeed Bakhtiar Limited'
 'Said Laiq Hussain'
 'استخراج 10000مترمکعب ریگ وجغل توسط شرکت ساختمانی احداث Ehdas Construction and Gravel Company'
 'استخراج جغل خاکدار صالح ایجاز Saleh Ejaz Gravel Extraction'
 'استخراج ریگ وجغل توسط شرکت ساختمانی افغان بتن Afghan Batn Gravel Extraction Company'
 'استخراج ریگ وجغل متین افغان Mateen Afghan Gravel Extraction'
 'پروژه انتقال پایپ لاین گاز تاپی TAPI Gas transmission pipeline Project'
 'تولید وپروسس سنگ مرمرالیوسف پوپل Al Yosuf popal Marble Processing Company'
 'Aziz Ullah'
 'شرکت تولید مواد معدنی کابل کلسید Kabul Classid Mining Production Company'
 'نصب ومنتاژیک دستگاه ریگریشن محمد سمیع Mohammad Sami Regration Installment Plant'
 'Amania Mining' 'Anwar Ali Afghan Zadran Limited' 'Arif Waqar Limited'
 'Dawatazi Balkyaan Limited' 'Haleem Khan Tareen Limited'
 'Hashmat Wali Mandozai Limited' 'Jannat Nizam Limited'
 'Kamran Haroon Limited' 'Karimi Maroofkhel Limited'
 'Khusraw Attai Limited' 'Milad Ghulam Mustafa Limited'
 'Ministry of mines and petroleum Agreements' nan
 'Natural Sarf Stone Processing Company' 'Nauman Aadil Limited'
 'Nauman Romaan Sherzad Limited' 'Navay Sangar Zadran Limited'
 'Navid Ali Shah Trading Company' 'Omar Atta Limited'
 'Omid Sabawoon Sand and Gravel Production Company' 'Pak Ittifaq Limited'
 'Payam Rah e Farda Limited' 'Rahimi Neka Brothers Limited'
 'Rahman Ullah Speenghar Limited' 'Sang Siyyaa Afghanistan Limited'
 'Sayed Nasir Traders'
 'Shahab Mehboob Talc and Marble Extraction and Processing Company'
 'Shamshir Obaid Talc Processing Company'
 'Waziri Mines Extraction and Processing Company'
 'Yusufi Qazizada Soap and Tomato Paste Production Company'
 'Zabit Shah Gorbaz Limited' 'Zahid Sayed Rahman Limited'
 'Zaitoon Khan Trading Company' 'Zakir Farid Limited' 'افغان, محمد مسعود'
 'باور خان, باور خان' 'حیات الله ولد حمیدالله, حیات الله'
 'خان, نور الرحمن' 'شرکت استخراج معادن یاسمین'
 'شرکت ساختمانی احمدی احمد ربی' 'شرکت ساختمانی اریانا سازه'
 'شرکت ساختمانی کاوون سلطانی' 'شرکت ساختمانی و سرکسازی افغان صداقت'
 'شرکت مسعود حامد فقیرزاده' 'محمد  آگل ولد محمد امین, محمد آگل'
 'محمد عیسی ولد آغا گل, محمد عیسی' 'واثق ولد ملنگ خان, واثق'
 'Anio Oil&Gas sha (ish Trans Atlantik Albania Ltd)' 'Ervin'
 'HEC LANABREGAS' 'ERVIN' 'Hec Lanabregas'
 'Add new rows as necessary, right click the row number to the left and select "Insert"'
 'Company' 'Autres (Secteur artisanal)'
 'Autres sociétés non incluses dans le périmètre de conciliation'
 'LA MANCHA CI (France)' 'Autres acheteurs'
 'Neptune Energy Deutschland GmbH\n(former: Engie E&P Holding Germany GmbH)'
 'Wintershall GmbH\n(now: Wintershall DEA Deutschland GmbH)' 'OEL'
 'Additional information'
 'Any additional information that is not eligible for inclusion in the table above, please include below as comments.'
 'Unilateral Disclosure for Other Minerals sector'
 'Unilateral Disclosure for Gems and Jade sector'
 'Social contributions - not received by government entities'
 'Royal Dutch Shell plc']


          Country  missing_per_country
0     Afghanistan                 1745
1         Albania                   23
2       Argentina                    1
3        Cameroon                    1
4   Cote d'Ivoire                    7
5         Country                    4
6         Germany                   14
7        Mongolia                    2
8  United Kingdom                   92


   Year  missing_per_year
0  2017                23
1  2018               148
2  2019              1609
3  2020                 1
4  2021                92
5  Year                 4

### Consistent company name-company ID pair over time

#### Expectations
- We expect that the pairing of company names with their corresponding company IDs remain consistent over time.
- This expectation is founded on the assumption that company names and IDs serve as stable and reliable identifiers for companies, ensuring their continuity and uniqueness over time.

#### Assumptions
- Each company name is assumed to be consistently associated with a specific company ID across different years.
- Company IDs are assumed to be unique and not reassigned to different companies over time.
  
#### Results

In [30]:
def check_consistency_year_country(df, name_col, id_col):
    # Check for consistency within each group of year and country
    consistency_check = df.groupby(['Year', 'Country', name_col])[id_col].nunique().eq(1).all()

    if consistency_check:
        print(f"The {name_col} and {id_col} pairs are consistent over time.")
    else:
        print(f"There are inconsistencies in {name_col} and {id_col} pairs over time.")


# Function to check consistency of name-id pairs over time and list inconsistent pairs
def check_and_list_inconsistencies(df, name_col, id_col):
    # Check for consistency within each group of year and country
    consistency_check = df.groupby(['Year', 'Country', name_col])[id_col].nunique().eq(1).all()

    # List inconsistent pairs
    inconsistent_pairs = df[~consistency_check].groupby(['Year', 'Country', name_col])[id_col].apply(list).reset_index()
    # print(f"Inconsistent {name_col}-{id_col} pairs:")
    print(inconsistent_pairs)

In [31]:
check_consistency_year_country(df_part_3a, 'Full company name', 'Company ID number')

There are inconsistencies in Full company name and Company ID number pairs over time.

In [32]:
# consistency_check = df_part_3a.groupby(['Year', 'Country', 'Full company name'])['Company ID number'].nunique().eq(1).all()

inconsistent_pairs = df_part_3a[~df_part_3a.groupby(['Year', 'Country', 'Full company name'])['Company ID number'].transform('nunique').eq(1)]

inconsistent_pairs

,Full company name,Company type,Company ID number,Sector,Commodities (comma-seperated),Stock exchange listing or company website,"Audited financial statement (or balance sheet, cash flows, profit/loss statement if unavailable)",Payments to Governments Report,Country,ISO Code,Year,Start Date,End Date
111,تصدی کود برق بلخ Kod-e-barq Balk,State-owned enterprises & public corporations,NaN,Fertliser & power,NaN,Not applicable,Not available,#ERROR!,Afghanistan,AFG,2018,2017-12-21,2018-12-20
529,Aggregated,Private,NaN,Mining,NaN,NaN,NaN,"36,533,218.00",Albania,ALB,2017,1/1/2017,12/31/2017
729,Aggregated,Private,NaN,Mining,NaN,NaN,NaN,"39,681,505.00",Albania,ALB,2018,1/1/2018,12/31/2018
998,EXXON MOBIL,Private,NaN,Oil & Gas,"Oil, gas, condensate",No,NaN,"697,026,000.00",Cote d'Ivoire,CIV,2017,2017-01-01,2017-12-31
1005,ENI IVORY COAST LIMITED,Private,NaN,Oil & Gas,"Oil, gas, condensate",No,NaN,"2,807,961,535.00",Cote d'Ivoire,CIV,2017,2017-01-01,2017-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,GX Technology,NaN,NaN,Oil & Gas,NaN,NaN,NaN,NaN,Seychelles,SYC,2018,2018-01-01,2018-12-31
3217,JOGMEX,NaN,NaN,Oil & Gas,NaN,NaN,NaN,NaN,Seychelles,SYC,2018,2018-01-01,2018-12-31
3242,GRAYSON BANDA,Private,NaN,Mining,Gold,Not available,Not available,"3,126,118,498.00",Tanzania,TZA,2018,2017-07-01,2018-06-30
3256,TANZANIA PORTLAND CEMENT PUBLIC LIMITED COMPANY,Private,NaN,Mining,"Limeston, Sandstone",Not available,Not available,"24,750,760,174.02",Tanzania,TZA,2018,2017-07-01,2018-06-30
3258,State Mining Corporation (STAMICO),State-owned enterprises & public corporations,NaN,Mining,Gold,http://www.stamico.co.tz/,Not available,"1,357,092.00",Tanzania,TZA,2018,2017-07-01,2018-06-30

In [33]:
print(inconsistent_pairs['Full company name'].unique())
len(inconsistent_pairs['Full company name'].unique())

['تصدی کود برق بلخ Kod-e-barq Balk' 'Aggregated' 'EXXON MOBIL'
 'ENI IVORY COAST LIMITED' "OPHIR Cote d'Ivoire"
 "ENERGIE DE Cote d'Ivoire" 'SVENSKA PETROL AKTIEBOLAG'
 'HALLA CORPORATION' 'BAI JIE' 'COMFORCE' 'EPPM' 'HUAYOU' 'Dovemco'
 'Entre Mares de Guatemala S.A.' 'Guaxilan S. A.' 'Maya Tradición'
 'Mayaníquel S.A.' 'Minera San Rafael S.A.'
 'Montana Exploradora de Guatemala S.A.' 'Peña Rubia S.A.'
 'Procesamiento de Materias Primas, Sílice y Derivados de Centroamérica S.A.'
 'City Peten S. de R. L.' 'Empresa Petrolea del Itsmo S.A.'
 'Perenco Guatemala Limited' 'BHARAT PETROLEUM CORPORATION LTD.'
 'CANAL COMPANIES' 'CHINA NATIONAL PETROLEUM CORPORATION'
 'CHINA OFFSHORE OIL (SINGAPORE) INTERNATIONAL PTE. LTD.'
 'EMIRATES NATIONAL OIL COMPANY' 'IRAQI OIL TANKERS COMPANY (IOTC)'
 'IRAQ STAR OIL SERVICES COMPANY' 'JXTG NIPPON OIL & ENERGY CORPORATION'
 'LITASCO MIDDLE EAST DMCC'
 'MOL HUNGARIAN OIL AND GAS PUBLIC LIMITED COMPANY'
 'MOTOR OIL (HELLAS) CORINTH REFINERIES S.A' 'NAYARA ENERGY LIMITED'
 'NAFTIRAN INTERTRADE COMPANY , LTD (NICO)'
 'PETROLEO BRASILEIRO "PETROBRAS"' 'PETROGAL , S.A'
 'VIETNAM OIL AND GAS GROUP' 'REPSOL S.A' 'TAURUS OIL AND GAS LIMITED'
 'THE EGYPTIAN GENERAL PETROLEUM CORPORATION (EGPC)'
 'TURKEY PETROLEUM REFINERIES SA' 'EBS PETROLEUM COMPANY LIMITED'
 'Al Waha Petroleum Co. Ltd.' 'Basrah Oil Company (Including Occidental)'
 'BP IRAQ N.V.' 'CNOOC IRAQ LIMITED' 'DRAGON OIL LIMITED' 'ENI IRAQ B.V.'
 'EXXON MOBIL IRAQ LIMITED' 'GAZPROM NEFT BADRA B.V.'
 'ITOCHU OIL EXPLONATION IRAQ (B.V)' 'JAPEX GARRAF LTD' 'KOGAS IRAQ B.V'
 'KUWAIT ENERGY' 'LUKOIL (LUKOIL MID – EAST LIMITED)'
 'OCCIDENTAL ENERGY IRAQ LLC' 'PETROCHINA IRAQ OPERATIONS'
 'PT PERTAMINA IRAK' 'PETRONAS CARIGALI IRAQ HOLDING B.V.'
 'Shell Iraq Petroleum Development B.V.' 'THE EGYPTIAN GENERAL PETROLEUM'
 'TOTSA TOTAL' 'TP BADRA LTD.' 'Petronas' 'JAPEX' 'Petrochina' 'Total S.A'
 'British Petroleum' 'Eni' 'kogas' 'ExxonMobil' 'Itochu Oil' 'Lukoil'
 'Shell Iraq development' 'Kuwait Energy' 'Dragon Oil'
 'Egyptian General Petroleum Corporation' 'TPAO'
 'National Oil Company of Liberia (NOCAL)' 'Sonatrach (SIPEX)'
 'Mauritanie Ressources Limited Sarl' 'TIREX SA' 'AGRINEQ - SA'
 'Mauritano-Saoudeinne pour le Phosphate' 'Pantera' 'BHP - Pemex'
 'Fieldwood Energy E&P Mexico S.de R.L de C.V' 'Petrolera Cardenas Mora'
 'Operadora de Campos DWF' 'Vista O&G' 'Deutsche Erdoel Mexico'
 'Repsol Exploración México' 'Shell' 'A K N K' 'A-1 Mining Company .Ltd.'
 'A-Lister Services Co., Ltd.' 'Apex Geo Services Co.,'
 'Asia Orient International Ltd. (CJs Oc Nobel Oil)'
 'Asia Petroleum Investment Company (APIC)'
 'Bashneft International B.V. (Myanmar Branch)'
 'Brunei National Petroleum Company Sdn Bhd (PB Myanmar)'
 'Century Bright Gold Co., Ltd' 'CNPC International Ltd.'
 'Directorate of Military office of Chief of Defence Industries, Ministry of Defence'
 'Eden Group Co., Ltd' 'Gail JJ India Ltd' 'HTAR WA YA' 'IGE Pte. Ltd.'
 'Jubilant Oil & Gas Pte. Ltd.' 'Korea Gas Corporation'
 'Machinery and Solutions Co., Ltd.'
 'Maurel & Prom Exploration & Production' 'MOECO Asia Pte. Ltd'
 'Myanmar Petroleum Exploration & Production Co., Ltd.'
 'MYANMAR WANBAO MINING COPPER LTD' 'Myanmar Yang Tse Copper Ltd'
 'Myat Myittar Mon (G & J) Co.,Ltd' 'Nippon Oil Exploration (Myanmar) Ltd'
 'No (2)Heavy Industry, Ministry of Industry'
 'No. (3) Heavy Industry. Ministry Of Industry'
 'North Petro-Chem Corporation Myanmar Ltd. (NPCMM)' 'ONGC Videsh Ltd.,'
 'Palang Sophon Offshore Pte. Ltd. (PSO)' 'Palaung National'
 'Parami Energy Development Company Ltd'
 'Petrovietnam Exploration Production Corporation' 'Phar Kant Sai Bon'
 'Reliance Industries Ltd.' 'Royal Marine Engineering Co.,Ltd'
 'Smart Technical Services Ltd.' 'SmartE&PInternational Co.,Ltd'
 'SNOG Pte Ltd' 'Sun Apex Holdings Ltd.'
 'Tap Energy (M-7) Co., Ltd. (Statoil)' 'TRG M15 Pte. Ltd.'
 'United National Resources Development Services Co., Ltd'
 'UNOG Pte. Ltd.' 'UPR Pte Ltd.' 'Win Precious Resources Pte Ltd.' 'YCDC'
 'A&B Global Strategy Limited' 'Akins Gems Ltd'
 'BUA International Limited' 'C.C.C. Construction Nigeria Limited'
 'Lake Petroleum Limited' 'NBHH Nigeria Limited'
 'Rock Waters Integrated Services Limited' 'West Afircan Mining Co Ltd'
 'Woda Mountain Investment Ltd'
 'Brasoil Oil Services Company Nigeria Limited'
 'Niger Delta Petroleum Resources Limited'
 'Nigeria Agip Exploration (NAE)' 'Nigeria Agip Oil Co Limited (NAOC)'
 'Nigeria Petroleum Development Company Limited' 'Waltersmith Petroman'
 'Yinka Folawiyo Petroleum' 'Dell Sigma Petroleum Ltd'
 'First E & P Development Company' 'Century Energy Resources Limited'
 'Mx Oil Plc' 'Seven Energy International Limited'
 'Nigerian National Petroleum Corporation (NNPC)'
 'Other companies - non-rights holders'
 'Andre selskap - ikke rettighetshaver'
 'Other companier - non-right holders' 'Seychelles Petroleum'
 'Petroseychelles' "Societe Seychelloise D'investissement Ltd"
 'GX Technology' 'JOGMEX' 'GRAYSON BANDA'
 'TANZANIA PORTLAND CEMENT PUBLIC LIMITED COMPANY'
 'State Mining Corporation (STAMICO)']

176

In [34]:
print(inconsistent_pairs['Company ID number'].unique())
len(inconsistent_pairs['Company ID number'].unique())

[nan]

1

In [35]:
check_consistency_year_country(df_part_3b, 'Full name of agency', 'ID number (if applicable)')

There are inconsistencies in Full name of agency and ID number (if applicable) pairs over time.

## Use-cases to validate

## Statistics and graphs

### How many years of data does each company/agency have?

### How many (and what companies/agencies) have changed their company type (i.e. from SOE to private and vice versa)?

### How many (and what) companies/agencies have had their names changed?

### How many (and which) companies/agencies have had their IDs changed?

### Instances of company/agency names being inputted incorrectly